<div class="col-md-8">
    <h3>Asosiasi Profesor Indonesia</h3>
    <p>Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit.</p>
    <p>Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit</p>
    <p>Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit</p> 
    
    <div class="latest_news">
        <div class="row">
        <h3>Berita Terbaru</h3>  
            <div class="col-md-4 latest_news">
                <a href="{$basedomain}news/view" title="Banana">
                    <img src="{$basedomain}public_assets/news/thumbs/sample.jpg" class="img-responsive">
                </a>
                <div class="time-ago"><a href="{$basedomain}news/view">1 hour ago</a></div>
                <a href="{$basedomain}news/view">Donec id elit non mi porta gravida at eget metus. Fusce dapibus...</a>
            </div>
            
            <div class="col-md-4 latest_news">
                <a href="{$basedomain}news/view" title="Banana">
                    <img src="{$basedomain}public_assets/news/thumbs/sample.jpg" class="img-responsive">
                </a>
                <div class="time-ago"><a href="{$basedomain}news/view">1 hour ago</a></div>
                <a href="{$basedomain}news/view">Donec id elit non mi porta gravida at eget metus. Fusce dapibus...</a>
            </div>
            
            <div class="col-md-4 latest_news">
                <a href="{$basedomain}news/view" title="Banana">
                    <img src="{$basedomain}public_assets/news/thumbs/sample.jpg" class="img-responsive">
                </a>
                <div class="time-ago"><a href="{$basedomain}news/view">1 hour ago</a></div>
                <a href="{$basedomain}news/view">Donec id elit non mi porta gravida at eget metus. Fusce dapibus...</a>
            </div>
            </div>
    </div>
    
</div>

</div>

</div>

</div>