{if $page.page == 'demo' AND $page.function == 'v2'}

    {include file="template/v2/meta_v2.html"}
    <body>
    <!-- RUNNING GLOBAL VAR -->
    <script>
        var basedomain = "{$basedomain}";
    </script>
    
    <!-- HEADER DEFAULT -->
    {include file="template/v2/header_v2.html"}
    
    <!-- BANNER -->
    {include file="template/v2/banner_v2.html"}

    <!-- MIDDLEBAR -->
    {include file="template/v2/middlebar_v2.html"}

    <!-- LEFTBAR -->
    {include file="template/v2/leftbar_v2.html"}

    <!-- CONTENT -->
    {$content}

    <!-- RIGHTBAR -->
    {include file="template/v2/rightbar_v2.html"}

    <!-- BOTTOMBAR -->
    {include file="template/v2/bottombar_v2.html"}
    
    <!-- FOOTER -->
    {include file="template/v2/footer_v2.html"}

{elseif $page.page == 'demo' AND $page.function == 'v2_1'}

    {include file="template/v2_1/meta_v2_1.html"}
    <body>
    <!-- RUNNING GLOBAL VAR -->
    <script>
        var basedomain = "{$basedomain}";
    </script>
    
    <!-- HEADER DEFAULT -->
    {include file="template/v2_1/header_v2_1.html"}
    
    <!-- BANNER -->
    {include file="template/v2_1/banner_v2_1.html"}

    <!-- MIDDLEBAR -->
    {include file="template/v2_1/middlebar_v2_1.html"}

    <!-- LEFTBAR -->
    {include file="template/v2_1/leftbar_v2_1.html"}

    <!-- CONTENT -->
    {$content}

    <!-- RIGHTBAR -->
    {include file="template/v2_1/rightbar_v2_1.html"}

    <!-- BOTTOMBAR -->
    {include file="template/v2_1/bottombar_v2_1.html"}
    
    <!-- FOOTER -->
    {include file="template/v2_1/footer_v2_1.html"}

{elseif $page.page == 'demo' AND $page.function == 'v2_1_1'}

    {include file="template/v2_1_1/meta_v2_1_1.html"}
    <body>
    <!-- RUNNING GLOBAL VAR -->
    <script>
        var basedomain = "{$basedomain}";
    </script>
    
    <!-- HEADER DEFAULT -->
    {include file="template/v2_1_1/header_v2_1_1.html"}
    
    <!-- BANNER -->
    {include file="template/v2_1_1/banner_v2_1_1.html"}

    <!-- MIDDLEBAR -->
    {include file="template/v2_1_1/middlebar_v2_1_1.html"}

    <!-- LEFTBAR -->
    {include file="template/v2_1_1/leftbar_v2_1_1.html"}

    <!-- CONTENT -->
    {$content}

    <!-- RIGHTBAR -->
    {include file="template/v2_1_1/rightbar_v2_1_1.html"}

    <!-- BOTTOMBAR -->
    {include file="template/v2_1_1/bottombar_v2_1_1.html"}
    
    <!-- FOOTER -->
    {include file="template/v2_1_1/footer_v2_1_1.html"}

{elseif $page.page == 'demo' AND $page.function == 'v2_2'}

    {include file="template/v2_2/meta_v2_2.html"}
    <body>
    <!-- RUNNING GLOBAL VAR -->
    <script>
        var basedomain = "{$basedomain}";
    </script>
    
    <!-- HEADER DEFAULT -->
    {include file="template/v2_2/header_v2_2.html"}
    
    <!-- BANNER -->
    {include file="template/v2_2/banner_v2_2.html"}

    <!-- MIDDLEBAR -->
    {include file="template/v2_2/middlebar_v2_2.html"}

    <!-- LEFTBAR -->
    {include file="template/v2_2/leftbar_v2_2.html"}

    <!-- CONTENT -->
    {$content}

    <!-- RIGHTBAR -->
    {include file="template/v2_2/rightbar_v2_2.html"}

    <!-- BOTTOMBAR -->
    {include file="template/v2_2/bottombar_v2_2.html"}
    
    <!-- FOOTER -->
    {include file="template/v2_2/footer_v2_2.html"}

{elseif $page.page == 'demo' AND $page.function == 'v2_2_1'}

    {include file="template/v2_2_1/meta_v2_2_1.html"}
    <body>
    <!-- RUNNING GLOBAL VAR -->
    <script>
        var basedomain = "{$basedomain}";
    </script>
    
    <!-- HEADER DEFAULT -->
    {include file="template/v2_2_1/header_v2_2_1.html"}
    
    <!-- BANNER -->
    {include file="template/v2_2_1/banner_v2_2_1.html"}

    <!-- MIDDLEBAR -->
    {include file="template/v2_2_1/middlebar_v2_2_1.html"}

    <!-- LEFTBAR -->
    {include file="template/v2_2_1/leftbar_v2_2_1.html"}

    <!-- CONTENT -->
    {$content}

    <!-- RIGHTBAR -->
    {include file="template/v2_2_1/rightbar_v2_2_1.html"}

    <!-- BOTTOMBAR -->
    {include file="template/v2_2_1/bottombar_v2_2_1.html"}
    
    <!-- FOOTER -->
    {include file="template/v2_2_1/footer_v2_2_1.html"}

{elseif $page.page == 'demo' AND $page.function == 'v2_3'}

    {include file="template/v2_3/meta_v2_3.html"}
    <body>
    <!-- RUNNING GLOBAL VAR -->
    <script>
        var basedomain = "{$basedomain}";
    </script>
    
    <!-- HEADER DEFAULT -->
    {include file="template/v2_3/header_v2_3.html"}
    
    <!-- BANNER -->
    {include file="template/v2_3/banner_v2_3.html"}

    <!-- MIDDLEBAR -->
    {include file="template/v2_3/middlebar_v2_3.html"}

    <!-- LEFTBAR -->
    {include file="template/v2_3/leftbar_v2_3.html"}

    <!-- CONTENT -->
    {$content}

    <!-- RIGHTBAR -->
    {include file="template/v2_3/rightbar_v2_3.html"}

    <!-- BOTTOMBAR -->
    {include file="template/v2_3/bottombar_v2_3.html"}
    
    <!-- FOOTER -->
    {include file="template/v2_3/footer_v2_3.html"}

{elseif $page.page == 'demo' AND $page.function == 'v2_4'}

    {include file="template/v2_4/meta_v2_4.html"}
    <body>
    <!-- RUNNING GLOBAL VAR -->
    <script>
        var basedomain = "{$basedomain}";
    </script>
    
    <!-- HEADER DEFAULT -->
    {include file="template/v2_4/header_v2_4.html"}
    
    <!-- BANNER -->
    {include file="template/v2_4/banner_v2_4.html"}

    <!-- MIDDLEBAR -->
    {include file="template/v2_4/middlebar_v2_4.html"}

    <!-- LEFTBAR -->
    {include file="template/v2_4/leftbar_v2_4.html"}

    <!-- CONTENT -->
    {$content}

    <!-- RIGHTBAR -->
    {include file="template/v2_4/rightbar_v2_4.html"}

    <!-- BOTTOMBAR -->
    {include file="template/v2_4/bottombar_v2_4.html"}
    
    <!-- FOOTER -->
    {include file="template/v2_4/footer_v2_4.html"}

{elseif $page.page == 'demo' AND $page.function == 'v2_4_1'}

    {include file="template/v2_4_1/meta_v2_4_1.html"}
    <body>
    <!-- RUNNING GLOBAL VAR -->
    <script>
        var basedomain = "{$basedomain}";
    </script>
    
    <!-- HEADER DEFAULT -->
    {include file="template/v2_4_1/header_v2_4_1.html"}
    
    <!-- BANNER -->
    {include file="template/v2_4_1/banner_v2_4_1.html"}

    <!-- MIDDLEBAR -->
    {include file="template/v2_4_1/middlebar_v2_4_1.html"}

    <!-- LEFTBAR -->
    {include file="template/v2_4_1/leftbar_v2_4_1.html"}

    <!-- CONTENT -->
    {$content}

    <!-- RIGHTBAR -->
    {include file="template/v2_4_1/rightbar_v2_4_1.html"}

    <!-- BOTTOMBAR -->
    {include file="template/v2_4_1/bottombar_v2_4_1.html"}
    
    <!-- FOOTER -->
    {include file="template/v2_4_1/footer_v2_4_1.html"}

{elseif $page.page == 'demo' AND $page.function == 'v2_4_2'}

    {include file="template/v2_4_2/meta_v2_4_2.html"}
    <body>
    <!-- RUNNING GLOBAL VAR -->
    <script>
        var basedomain = "{$basedomain}";
    </script>
    
    <!-- HEADER DEFAULT -->
    {include file="template/v2_4_2/header_v2_4_2.html"}
    
    <!-- BANNER -->
    {include file="template/v2_4_2/banner_v2_4_2.html"}

    <!-- MIDDLEBAR -->
    {include file="template/v2_4_2/middlebar_v2_4_2.html"}

    <!-- LEFTBAR -->
    {include file="template/v2_4_2/leftbar_v2_4_2.html"}

    <!-- CONTENT -->
    {$content}

    <!-- RIGHTBAR -->
    {include file="template/v2_4_2/rightbar_v2_4_2.html"}

    <!-- BOTTOMBAR -->
    {include file="template/v2_4_2/bottombar_v2_4_2.html"}
    
    <!-- FOOTER -->
    {include file="template/v2_4_2/footer_v2_4_2.html"}

{else}
    {include file="template/meta.html"}
    <body>
    	<!-- RUNNING GLOBAL VAR -->
    	<script>
    		var basedomain = "{$basedomain}";
    	</script>
    	
        <!-- HEADER DEFAULT -->
        {include file="template/header.html"}
        

        <!-- BANNER -->
        {if $page.page=='home' }
            {include file="template/banner.html"}
        {/if}
        
        

        <!-- SIDEBAR -->
        {if 
            $page.page != 'gallery' AND 
            $page.function != 'profil' AND 
            $page.function != 'struktur_organisasi' AND 
            $page.function != 'anggota' AND 
            $page.function != 'anggota_view' AND 
            $page.function != 'repository' AND 
            $page.function != 'repository_view' AND
            $page.function != 'repository_view_1' AND
            $page.function != 'repository_view_2' AND 
            $page.function != 'kepakaran' AND 
            $page.function != 'Dirkepakaran' AND 
            $page.function != 'search_result' AND 
            $page.function != 'result_detail' AND 
            $page.page != 'user'}
            {include file="template/sidebar.html"}
        {/if}
        
        <!-- CONTENT -->
    	{$content}
    	
    	<!-- FOOTER -->
        {include file="template/footer.html"}
{/if}