{include file="template/meta.html"}
<body>
	<!-- RUNNING GLOBAL VAR -->
	<script>
		var basedomain = "{$basedomain}";
	</script>
	
    <!-- HEADER DEFAULT -->
    {include file="template/header.html"}
    
    {if $page.page=='home' }
        <!-- HEADER DEFAULT -->
        {include file="template/banner.html"}
    {/if}
    
    
    
   
    {if $page.function != 'agenda' AND $page.page != 'gallery' AND $page.function != 'profil' AND $page.function != 'struktur_organisasi' AND $page.function != 'anggota' AND $page.function != 'repository' AND $page.function != 'repository_view_1' AND $page.function != 'repository_view_2' AND $page.function != 'kepakaran' AND $page.function != 'Dirkepakaran' AND $page.function != 'search_result' AND $page.function != 'result_detail' AND $page.page != 'user'}

        <!-- SIDEBAR -->
        {include file="template/sidebar.html"}
    {/if}
    <!-- CONTENT -->
	{$content}
	
	<!-- FOOTER -->
    {include file="template/footer.html"}