<div class="container">
	<div style="margin-bottom: 20px;">
		<div class="row">
			<div class="col-xs-12">
				<div class="carousel slide mini-carousel" id="miniCarousel">
		          <div class="carousel-inner">
		            <div class="item active">
		              <div class="col-md-3"><a href="#"><img src="{$basedomain}public_assets/gallery/images/1.JPG" class="img-responsive"></a></div>
		            </div>
		            <div class="item">
		              <div class="col-md-3"><a href="#"><img src="{$basedomain}public_assets/gallery/images/2.JPG" class="img-responsive"></a></div>
		            </div>
		            <div class="item">
		              <div class="col-md-3"><a href="#"><img src="{$basedomain}public_assets/gallery/images/3.JPG" class="img-responsive"></a></div>
		            </div>
		            <div class="item">
		              <div class="col-md-3"><a href="#"><img src="{$basedomain}public_assets/gallery/images/4.JPG" class="img-responsive"></a></div>
		            </div>
		          </div>
		          <a class="left carousel-control" href="#miniCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
		          <a class="right carousel-control" href="#miniCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
		        </div>
	        </div>
		</div>
	</div>
</div>