<div class="container">
  <div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {foreach $banner_home as $getBanner}
      {if $getBanner@first}
        <div class="item active">
      {else}
        <div class="item">
      {/if}
        <img src="{$basedomain}public_assets/banner/{$getBanner.image}" style="width: 100%;">
      </div>
    {/foreach}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>