<div id="api-footerTop">
    <div class="container api-footerContainer">
        <div class="row">
            <div class="col-md-4 text-center api-footerLink">
                <a href="#">About API</a>
            </div>
            <div class="col-md-4 text-center api-footerLink">
                <a href="#">Privacy</a>
            </div>
            <div class="col-md-4 text-center api-footerLink">
                <a href="#">Site Map</a>
            </div>
            <!--<div class="col-md-2 text-center api-footerLink">
                <a href="#">Lorem Ipsum</a>
            </div>
            <div class="col-md-2 text-center api-footerLink">
                <a href="#">Lorem Ipsum</a>
            </div>
            <div class="col-md-2 text-center api-footerLink">
                <a href="#">Lorem Ipsum</a>
            </div>-->
        </div>
    </div>
</div>
<div id="api-footerDown">
    <div class="container api-footerContainer">
        <div class="row text-center">
            <a href="#">Copyright&copy; to Asosiasi Profesor Indonesia</a>
        </div>
    </div>
</div>
    
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Jquery JS -->
    <script type="text/javascript" src="{$basedomain}assets/js/jquery-2.1.0.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="{$basedomain}plugin/bootstrap-3.1.1/js/bootstrap.min.js"></script>
    
    <!-- Clndr JS -->
    <script src="{$basedomain}plugin/clndr/js/moment.min.js"></script>     
    <script src="{$basedomain}plugin/clndr/js/clndr.min.js"></script>
    <script src="{$basedomain}plugin/clndr/js/underscore-min.js"></script>
    <script src="{$basedomain}plugin/clndr/js/site-miniclndr.js"></script>
    
    <!-- FullCalendar JS-->
    <script src='{$basedomain}plugin/fullcalendar-2.1.1/fullcalendar.min.js'></script>
    
    <!-- Bootstrap Image Gallery JS -->
    <script src="{$basedomain}plugin/bootstrap-image-gallery-3.1.1/js/jquery.blueimp-gallery.min.js"></script>
    <script src="{$basedomain}plugin/bootstrap-image-gallery-3.1.1/js/bootstrap-image-gallery.min.js"></script>
    
    <!-- Datatables JS -->
    <script src="{$basedomain}plugin/datatable/js/jquery.dataTables.min.js"></script>
    <script src="{$basedomain}plugin/datatable/js/dataTables.bootstrap.js"></script>
    
    
    
    <script type="text/javascript">

    var agenda = {$agenda};

    
	var dateToday = "{$dateToday}";
   	
    // console.log(agenda);
{literal}    
    $(document).ready(function() {
        // INITIATE clndr PLUGIN
        $('#mini-clndr').clndr({
            template: $('#mini-clndr-template').html()
        }); 
        
        // INITIATE GALLERY PLUGIN
            $('#blueimp-gallery').toggleClass('blueimp-gallery-controls', true);
            
        // INITIATE fullCalendar PLUGIN    
        $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			defaultDate: dateToday,
			editable: false,
			eventLimit: true, // allow "more" link when too many events
			events: agenda
		});
        // INITIATE DATATABLE
            $('.table').dataTable();   
    });

{/literal}
    </script>
    {literal}
<script type="text/javascript">
 $(function(){
   
    $(document).ready(function(){
            // var category = 'a';
            // var category_edit =$("#category_edit").val();
        // if(category!=category_edit){
                    // alert('ada');

           // console.log(basedomain);
            $.post(basedomain+"organisasi/anggotaAjax", {actionfunction: 'showData', page:'1',kategori:'a'}, function(data){
                // console.log(data);
                    // alert('ada1');
                if (data.status==true) {
                    // alert(data.dataReload);
                    // alert(data.data);
                    // $('.category_val').html('Category are already exist.');
                    // $('#btnsbmt').attr('disabled','disabled');
                    // console.log(data);
                        $('#dataAjax').html(data.data); 
                        // $('#pagination').html(data);

                }else{
                    // $('.category_val').html('');
                    // alert('already existnot');
                }
            }, "JSON")
        // }else{
        //     $('.category_val').html('');
        // }
        })
    
    $('#dataAjax').on('click','.page-numbers',function(){
//         function getUrlParameter(sParam)
// {
//     // var sPageURL = window.location.search.substring(1);
//     // alert(sPageURL);
//     $page = $('.page-numbers').attr('href');
//     alert($page);
//      $sPageURL = $page.indexOf('');
//      alert($sPageURL);
//     var sURLVariables = sPageURL.split('&');
//     for (var i = 0; i < sURLVariables.length; i++) 
//     {
//         var sParameterName = sURLVariables[i].split('=');
//         if (sParameterName[0] == sParam) 
//         {   
//             // alert(sParameterName[0]);
//             // alert(sParameterName[1]);
//             return sParameterName[1];
//         }
//     }
// }    
// var tech = getUrlParameter('kategori');
// var tech2 = getUrlParameter('page');
// alert(tech);
       $page = $(this).attr('href');
       // alert($page);
       $pageind = $page.indexOf('page=');
       $sPageURL = $page.substring(($pageind));
       
       // alert($pageind);
       // alert($sPageURL);
       var sURLVariables = $sPageURL.split('&');
       // alert();
    for (var i = 0; i < sURLVariables.length; i++) 
    {   
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == 'page') 
        {   
            // alert(sParameterName[0]);
           var paging =sParameterName[1];
            // return sParameterName[1];
        }else if (sParameterName[0] == 'kategori') {

           var kategori =sParameterName[1];
        }
    }
    // alert(paging);
    // alert(kategori);
        $.post(basedomain+"organisasi/anggotaAjax", {actionfunction: 'showData', page:paging ,kategori:kategori}, function(data){
                // console.log(data);
                    // alert('ada1');
                if (data.status==true) {
                    // alert(data.data);
                    // alert("asa");
                    // $('.category_val').html('Category are already exist.');
                    // $('#btnsbmt').attr('disabled','disabled');
                    // console.log(data);
                        $('#dataAjax').html(data.data); 
                        // $('#pagination').html(data);

                }else{
                    // $('.category_val').html('');
                    // alert('already existnot');
                }
            }, "JSON")
    return false;
    });
    
    
});

</script>
{/literal}
</body>
</html>