<div id="api-footerTop">
    <div class="container api-footerContainer">
        <div class="row">
            <div class="col-xs-4 text-center api-footerLink">
                <a href="#">About API</a>
            </div>
            <div class="col-xs-4 text-center api-footerLink">
                <a href="#">Privacy</a>
            </div>
            <div class="col-xs-4 text-center api-footerLink">
                <a href="#">Site Map</a>
            </div>
            <!--<div class="col-md-2 text-center api-footerLink">
                <a href="#">Lorem Ipsum</a>
            </div>
            <div class="col-md-2 text-center api-footerLink">
                <a href="#">Lorem Ipsum</a>
            </div>
            <div class="col-md-2 text-center api-footerLink">
                <a href="#">Lorem Ipsum</a>
            </div>-->
        </div>
    </div>
</div>
<div id="api-footerDown">
    <div class="container api-footerContainer">
        <div class="row text-center">
            <a href="#">Copyright&copy; to Asosiasi Profesor Indonesia</a>
        </div>
    </div>
</div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Jquery JS -->
    <script type="text/javascript" src="{$basedomain}assets/js/jquery-2.1.0.min.js"></script>
    
    <!-- Helper -->
    <script src="{$basedomain}assets/js/helper.js"></script>

    <!-- Bootstrap JS -->
    <script src="{$basedomain}plugin/bootstrap-3.3.2/js/bootstrap.min.js"></script> 

    <!-- Calendar -->
    <script src="{$basedomain}plugin/calendar/zabuto_calendar.min.js"></script>
    
    <!-- Bootstrap Image Gallery JS -->
    <script src="{$basedomain}plugin/bootstrap-image-gallery-3.1.1/js/jquery.blueimp-gallery.min.js"></script>
    <script src="{$basedomain}plugin/bootstrap-image-gallery-3.1.1/js/bootstrap-image-gallery.min.js"></script>
    
    <!-- Datatables JS -->
    <script src="{$basedomain}plugin/datatable/js/jquery.dataTables.min.js"></script>
    <script src="{$basedomain}plugin/datatable/js/dataTables.bootstrap.js"></script>
    
    <!-- Datepicker JS -->
    <script src="{$basedomain}plugin/datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript">

        var agenda = {$agenda};
        var basedomain = "{$basedomain}";
        var dateToday = "{$dateToday}"

        function getUrlParameter(sParam)
        {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) 
            {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) 
                {
                    return sParameterName[1];
                }
            }
        } 

        var tech = getUrlParameter('tgl');
        
        {literal}

        
        if(jQuery.isEmptyObject(tech)){
            var dataYear = new Date().getFullYear();
            var dataMonth = new Date().getMonth()+1;
            if(dataMonth<10) {
                dataMonth='0'+dataMonth
            }
            //console.log(dataYear);
            //console.log(dataMonth);
        }
        else{
            var dataYear = tech.substring(0, 4);
            var dataMonth = tech.substring(5, 7);
            //console.log(dataYear);
            //console.log(dataMonth);
        }

        $(function() {
            $('#birthday').datepicker ();
        });
        $(document).ready(function() {

        //INITIATE SUBMENU
            $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
                event.preventDefault(); 
                event.stopPropagation(); 
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });


    var dateToday = "{$dateToday}";  
    	
    
{literal}

    $(function() {
        $('#birthday').datepicker ();
    });

    $(document).ready(function() {
        var dataAgenda = JSON.stringify(agenda);
        var newStr = dataAgenda.substring(1, dataAgenda .length-1);
        var mystring = newStr.replace('},{',',');
        var agendaResult = JSON.parse(mystring.toString());

        console.log(mystring);
        console.log(agendaResult);

        // INITIATE RESPONSIVE CALENDAR
        $(".responsive-calendar").responsiveCalendar({
          monthChangeAnimation: false,
          events: agendaResult,
          onDayClick: function(events) {
            var link = $(this).attr("data-link");
            window.location.href = link;
          }

        });

        // INITIATE GALLERY PLUGIN
            $('#blueimp-gallery').toggleClass('blueimp-gallery-controls', true);

        // INITIATE DATATABLE
            $('.table').dataTable(); 
            
        // INITIATE CALENDAR
            function myDateFunction(id) {
                var date = $("#" + id).data("date");
                var hasEvent = $("#" + id).data("hasEvent");
                window.location.href = basedomain+"news/agenda/?tgl="+date;
            }



            $(".calendar").zabuto_calendar({
                year: dataYear,
                month: dataMonth,
                data: agenda,
                today: true,
                legend: false,
                action: function() { myDateFunction(this.id); }
            });  
        });

        {/literal}
    </script>

    {if $page.page=="organisasi" && $page.function=="anggota"}
        {literal}
            <script type="text/javascript">
             $(function(){
               
                $(document).ready(function(){
                       // alert("ada");
                        $.post(basedomain+"organisasi/anggotaAjax", {actionfunction: 'showData', page:'1',kategori:'a'}, function(data){
                            
                            if (data.status==true) {
                               
                                    $('#dataAjax').html(data.data); 
                                   
                            }else{
                                // $('.category_val').html('');
                                // alert('already existnot');
                            }
                        }, "JSON")
                    
                    })
                
                $('#dataAjax').on('click','.page-numbers',function(){

                   $page = $(this).attr('href');
                  
                   $pageind = $page.indexOf('page=');
                   $sPageURL = $page.substring(($pageind));
                   
                   var sURLVariables = $sPageURL.split('&');
                 
                    for (var i = 0; i < sURLVariables.length; i++) 
                    {   
                        var sParameterName = sURLVariables[i].split('=');
                        if (sParameterName[0] == 'page') 
                        {   
                           
                           var paging =sParameterName[1];

                        }else if (sParameterName[0] == 'kategori') {

                           var kategori =sParameterName[1];
                        }
                    }
                
                    $.post(basedomain+"organisasi/anggotaAjax", {actionfunction: 'showData', page:paging ,kategori:kategori}, function(data){
                            
                            if (data.status==true) {
                               
                                    $('#dataAjax').html(data.data); 
                                
                            }else{
                                // $('.category_val').html('');
                                // alert('already existnot');
                            }
                        }, "JSON")
                return false;
                });
                
                
            });

            </script>
        {/literal}
    {/if}

    <script type="text/javascript">

        {literal}
        $(document).on('click','#login-btn', function(){

            var user = $('#login-username').val();
            var pass = $('#login-password').val();

            $.post(basedomain+'user/local',{token:true, user:user, pass:pass}, function(data){

                var html = "";

                if (data.status==false){
                    $('.error').html('Invalid username or password');
                }else{
                    window.location.href=basedomain;
                } 
            }, "JSON")
        })

        /* validasi register #1 */

        $(document).on('blur','#register-email', function(){

            //Validate Email
            var email = $(this).val();
            var validate = IsEmail(email);
            if (validate==false){
                $('input#register-email').css('border','1px dotted red');
                $('#email-error').html('Email tidak valid');
                $('#email-error').css('color','red');

            }else{

                $.post(basedomain+'user/ajax',{token:true, email:email}, function(data){

                    var html = "";

                    if (data.status==true){
                        $('input#register-email').css('border','1px dotted red')
                        $('#email-error').html('Email sudah terdaftar');
                        $('#email-error').css('color','red');

                    }else{
                        $('#email-error').html('');
                        $('#email-error').css('color','white');
                    }
                }, "JSON")

                
            }
            console.log(validate);
            
        })

        //Validate Password
        function validatePassword()
        {
            var pass1 = $('#register-password').val();
            var pass2 = $('#register-rePassword').val();

            var validate = compare(pass1, pass2);
            log('data ='+validate);

            if (validate==false){
                $('input#register-rePassword').css('border','1px dotted red')
                $('#password-error').html('Password tidak sama');
                $('#password-error').css('color','red');
                return false;

            }
        }

        {/literal}
    </script>
</body>
</html>

