
    
<div class='ajax-spinner-bars' style="display:none;" align="center">
  <span id="boxloader" style="background-color:#A0CAEC;width:100px;height:100px;position:absolute;border-radius:50px;right:45%;bottom:40%;
  z-index:99999;opacity:0.3">
  </span>
  <div class='bar-1'></div>
  <div class='bar-2'></div>
  <div class='bar-3'></div>
  <div class='bar-4'></div>
  <div class='bar-5'></div>
  <div class='bar-6'></div>
  <div class='bar-7'></div>
  <div class='bar-8'></div>
  <div class='bar-9'></div>
  <div class='bar-10'></div>
  <div class='bar-11'></div>
  <div class='bar-12'></div>
  <div class='bar-13'></div>
  <div class='bar-14'></div>
  <div class='bar-15'></div>
  <div class='bar-16'></div>

</div>
<div class="api-header">
    <div class="navbar navbar-default navbar-static-top api-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="{$basedomain}assets/img/logo-fix.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{if $page.page=='home'}active{/if}"><a href="{$basedomain}">HOME</a></li>
            <li class="dropdown {if $page.page=='organisasi'}active{/if}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">TENTANG ORGANISASI <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{$basedomain}organisasi/profil">Profil</a></li>
                <!--<li><a href="{$basedomain}organisasi/struktur_organisasi">Struktur Organisasi</a></li>-->
                <li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Struktur Organisasi</a>
                  <ul class="dropdown-menu">
                    <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=dewan_kehormatan">Dewan Kehormatan</a></li>
                    <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=dewan_penasihat">Dewan Penasihat</a></li>
                    <li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dewan Pengurus</a>
                      <ul class="dropdown-menu">
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=dewan_pengurus_umum">Dewan Pengurus Umum</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=1">Kabid Organisasi/Hub. Kelembagaan</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=2">Kabid Tata Kelola</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=3">Kabid Pendidikan</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=4">Kabid Pendidikan Tinggi &amp; Ristek</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=5">Kabid ldeologi &amp; Budaya</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=6">Kabid Seni &amp; Budaya</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=7">Kabid Kesehatan</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=8">Kabid Pembangunan Komunikasi &amp; 
Teknologi lnformasi </a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=9">Kabid Ekonomi dan Keuangan</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=10">Kabid Pembangunan lndustri Kreatif</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=11">Kabid Peningkatan Kemakmuran</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=12">Kabid Kependudukan &amp; Ketenagakerjaan</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=13">Kabid Pembangunan Berkelanjutan</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=14">Kabid Manajemen Pemerintahan &amp; 
Pembangunan</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=15">Kabid Pembangunan Prasarana</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=16">Kabid Pembangunan Pertanian &amp; Perikanan</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=17">Kabid lndustri Maritim</a></li>
                        <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=kabid&&kabid=18">Kabid Pembangunan &amp; Penegakan Hukum</a></li>
                      </ul>
                    </li>
                    <li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Perwakilan</a>
                    <ul class="dropdown-menu">
                      <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=perwakilan&&perwakilan=dalam">Perwakilan Dalam Negeri</a></li>
                      <li><a href="{$basedomain}organisasi/struktur_organisasi/?type=perwakilan&&perwakilan=luar">Perwakilan Luar Negeri </a></li>
                    </ul>
                    </li>
                </ul>
                </li>
                <li><a href="{$basedomain}organisasi/anggota">Anggota</a></li>
                <li><a href="{$basedomain}organisasi/afiliasi">Afiliasi</a></li>
              </ul>
            </li>
            <li class="dropdown {if $page.page=='news'}active{/if}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">NEWS <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{$basedomain}news/agenda">Agenda</a></li>
                <li><a href="{$basedomain}news/kliping_kegiatan">Kliping Kegiatan</a></li>
                <li><a href="{$basedomain}news/berita">Berita</a></li>
              </ul>
            </li>
            <li class="dropdown {if $page.page=='direktori'}active{/if}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">DIREKTORI <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{$basedomain}direktori/kepakaran">Kepakaran</a></li>
                <li><a href="{$basedomain}direktori/buah_pikir">Buah Pikir</a></li>
                <li><a href="{$basedomain}direktori/perundangan">Perundang-undangan</a></li>
                <li><a href="{$basedomain}direktori/repository">Repository</a></li>
              </ul>
            </li>
            <li class="dropdown {if $page.page=='gallery'}active{/if}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">GALLERY <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{$basedomain}gallery/foto">Foto</a></li>
                <li><a href="{$basedomain}gallery/video">Video</a></li>
              </ul>
            </li>
            {if $user} <!-- Later condition isLogin -->
              {*}<li class="dropdown {if $page.page=='user'}active{/if}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">USERNAME <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{$basedomain}direktori/kepakaran">Setting</a></li>
                  <li><a href="{$basedomain}direktori/buah_pikir">Logout</a></li>
                </ul>
              </li>{/*}

              <li class="{if $page.page=='user'}active{/if}"><a href="{$basedomain}logout.php">{$user.default.name}</a></li>
            {else}
              <li class="{if $page.page=='user'}active{/if}"><a href="{$basedomain}user/login">LOGIN</a></li>
            {/if}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>