<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <!-- Bootstrap core CSS -->
    <link href="{$basedomain}plugin/bootstrap-3.3.2/css/bootstrap.css" rel="stylesheet" type="text/css">

    <!-- Calendar -->
    <link href="{$basedomain}plugin/calendar/zabuto_calendar.min.css" rel="stylesheet" />
    
    <!-- Bootstrap Image Gallery CSS -->
    <link rel="stylesheet" href="{$basedomain}plugin/bootstrap-image-gallery-3.1.1/css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="{$basedomain}plugin/bootstrap-image-gallery-3.1.1/css/blueimp-gallery.min.css">
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="{$basedomain}plugin/datatable/css/dataTables.bootstrap.css">
    
    <!-- Custom API CSS-->
    <link href="{$basedomain}assets/css/custom-api.css" rel="stylesheet" type="text/css"/>
    
    <!-- Datetimepicker CSS-->
    <link rel="stylesheet" href="{$basedomain}plugin/datepicker/datepicker.css" type="text/css" />

    <title>Asosiasi Profesor Indonesia</title>

<script type="text/javascript">
baseUrl = "{$basedomain}";
</script>

</head>