<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap core CSS -->
    <link href="{$basedomain}plugin/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet" type="text/css">
    
    <!-- Clndr CSS-->
    <link href="{$basedomain}plugin/clndr/css/custom-clndr.css" rel="stylesheet">
    
    <!-- Custom API CSS-->
    <link href="{$basedomain}assets/css/custom-api.css" rel="stylesheet" type="text/css"/>
    
    <title>Asosiasi Profesor Indonesia</title>

<script type="text/javascript">
baseUrl = "{$basedomain}";
</script>

</head>