<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <!-- Bootstrap core CSS -->
    <link href="{$basedomain}plugin/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet" type="text/css">
    
    <!-- Clndr CSS-->
    <link href="{$basedomain}plugin/clndr/css/custom-clndr.css" rel="stylesheet">
    
    <!-- Full Calendar CSS -->
    <link href='{$basedomain}plugin/fullcalendar-2.1.1/fullcalendar.css' rel='stylesheet' />
    <link href='{$basedomain}plugin/fullcalendar-2.1.1/fullcalendar.print.css' rel='stylesheet' media='print' />
    
    <!-- Bootstrap Image Gallery CSS -->
    <link rel="stylesheet" href="{$basedomain}plugin/bootstrap-image-gallery-3.1.1/css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="{$basedomain}plugin/bootstrap-image-gallery-3.1.1/css/blueimp-gallery.min.css">
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="{$basedomain}plugin/datatable/css/dataTables.bootstrap.css">
    
    <!-- Custom API CSS-->
    <link href="{$basedomain}assets/css/custom-api.css" rel="stylesheet" type="text/css"/>
    
    <!-- datetimepicker -->
    
    <link rel="stylesheet" href="{$basedomain}plugin/datepicker/datepicker.css" type="text/css" />

    <title>Asosiasi Profesor Indonesia</title>

<script type="text/javascript">
baseUrl = "{$basedomain}";
</script>

</head>