<div class="container api-content">        
    <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="api-calendar">
                <h4 class="title text-center">Agenda</h4>

                <!-- Responsive calendar - START -->
                <div class="responsive-calendar">
                  <div class="controls">
                      <a class="pull-left" data-go="prev"><div class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i></div></a>
                      <h4><span data-head-year></span> <span data-head-month></span></h4>
                      <a class="pull-right" data-go="next"><div class="btn btn-primary"><i class="glyphicon glyphicon-chevron-right"></i></div></a>
                  </div><br>
                  <div class="day-headers">
                    <div class="day header">Mon</div>
                    <div class="day header">Tue</div>
                    <div class="day header">Wed</div>
                    <div class="day header">Thu</div>
                    <div class="day header">Fri</div>
                    <div class="day header">Sat</div>
                    <div class="day header">Sun</div>
                  </div>
                  <div class="days" data-group="days">
                    
                  </div>
                </div>
                <!-- Responsive calendar - END -->

              </div>
            </div>
          </div>
        
          {if $page.function !="agenda"}
          <div class="row">
            <div class="col-md-12">
              <div class="api-kliping-side">
                  <h4 class="text-center">Kliping Kegiatan</h4>
                  {if $kliping_index}
                    {foreach $kliping_index as $val}
                  <div class="kegiatan">
                      <p class="date">{$val.changeDate}</p>
                      <a href="{$basedomain}news/kliping_detail/?id={$val.id}">{$val.title}</a>
                  </div>
                    {/foreach}
                  {/if}
                  {*}
                  <div class="kegiatan">
                      <p class="date">Jumat, 29 Agustus 2014</p>
                      <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</a>
                  </div>
                  <div class="kegiatan">
                      <p class="date">Jumat, 29 Agustus 2014</p>
                      <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</a>
                  </div>
                  {/*}
                  <div class="kegiatan all text-center">
                      <a href="{$basedomain}news/kliping_kegiatan" style="color: #212121;">Semua Kegiatan</a>
                  </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="api-kliping-side">
                  <h4 class="text-center">Video</h4>
                  <div class="kegiatan">
                      <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</a>
                      <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://www.youtube.com/embed/x0YAneuTUAM" frameborder="0" allowfullscreen></iframe>
                      </div>
                  </div>
                  
                  <div class="kegiatan all text-center">
                      <a href="{$basedomain}gallery/video" style="color: #212121;">Semua Video</a>
                  </div>
              </div>
            </div>
          </div>
          {/if}
        
        </div>