<div class="col-md-8">
	<div class="contentBerita">
		<h3 class="text-center">Senin, 10 November 2014</h3>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td>No</td>
					<td>Jam</td>
					<td>Deskripsi Kegiatan/Tempat</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>10:12 WIB</td>
					<td>123</td>
				</tr>
				<tr>
					<td>2</td>
					<td>15:56 WIB</td>
					<td>asdadasdasdasd</td>
				</tr>
			</tbody>
		</table>
	</div>
    
</div>

</div>

</div>

</div>