<div class="col-md-8">
	<div class="contentBerita">
		<h3 class="text-center">{$title}</h3>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td>Tanggal</td>
					<td>Jam</td>
					<td>Deskripsi Kegiatan/Tempat</td>
				</tr>
			</thead>
			<tbody>
				{if $agenda}
				{foreach $agenda as $val}
				<tr>
					<td>{$val.changeDate}</td>
					<td>{$val.start} {if $val.end} - {$val.end}{/if}</td>
					<td>{$val.title}</td>
				</tr>
				{/foreach}
				{/if}
			</tbody>
		</table>
		{*}{/foreach}{/*}
	</div>
    
</div>

</div>

</div>

</div>