<!-- <div class="col-md-8">              -->

   <div class="pull-right"><a href="{$basedomain}{$urlpage}?page={$page}&kategori={$kategori}" class="btn api-btn page-numbers"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></div>     
    {if $berita}
        {foreach $berita as $val}
    <div class="api-news">
        <div class="title">
            <h3>{$val.title}</h3>
        </div>
        <div class="dateposted">
            <p>Posted by <a href="#">admin</a> at {$val.posted_date}</p>
        </div>
        <div class="content">
            {if {$val.image}}
            <div class="col-md-12" style="padding-left: 0;">
               
                <img src="{$basedomain}public_assets/news/{$val.image}" class="img-responsive" />
            </div>
            {/if}
            <div class="text-justify">
                {$val.content|html_entity_decode}
            </div>
            
            
            </div>
        </div>
        {/foreach}
    {/if}
    <!-- </div>
</div>

</div>

</div> -->