<div class="col-md-8">             
    {if $berita}
        {foreach $berita as $val}
    <div class="api-news">
        <div class="title">
            <h3>{$val.title}</h3>
        </div>
        <div class="dateposted">
            <p>Posted by <a href="#">admin</a> at {$val.posted_date}</p>
        </div>
        <div class="content">
            <div class="col-md-12" style="padding-left: 0;">
                {if {$val.image}}
                <img src="{$basedomain}public_assets/news/{$val.image}" class="img-responsive" />
                {/if}
            </div>
            <p class="text-justify">
                {$val.content|html_entity_decode}
            </p>
            
            
            </div>
        </div>
        {/foreach}
    {/if}
    </div>
</div>

</div>

</div>