<div class="col-md-8">
    <h3>Kliping Kegiatan</h3>
    
<!--START KLIPING-->    
    <div class="api-kliping">
        <div class="title">
            <a href="{$basedomain}news/berita_detail"><h4>Kliping kegiatan 1</h4></a>
        </div>
        <div class="dateposted">
            <p>Posted by <a href="#">admin</a> at 11:20 am August 30, 2014</p>
        </div>
        <div class="content">
            <div class="col-md-3" style="padding-left: 0;">
                <img src="{$basedomain}public_assets/news/LatestNews.jpeg" class="img-responsive" />
            </div>
            <p class="text-justify">
                Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit Integer nibh orci, elementum quis adipiscing non, tristique ut risus.
            </p>
            </div>
        </div>
        <a href="{$basedomain}news/berita_detail" class="pull-right more btn api-btn">Read more...</a>
        <div class="clearfix"></div>
<!--END KLIPING--> 
        <hr class="api-separator"/>
        
<!--START NEWS-->    
    <div class="api-news">
        <div class="title">
            <a href="{$basedomain}news/berita_detail"><h4>Kliping kegiatan 2</h4></a>
        </div>
        <div class="dateposted">
            <p>Posted by <a href="#">admin</a> at 11:20 am August 30, 2014</p>
        </div>
        <div class="content">
            <div class="col-md-3" style="padding-left: 0;">
                <img src="{$basedomain}public_assets/news/LatestNews.jpeg" class="img-responsive" />
            </div>
            <p class="text-justify">
                Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit Integer nibh orci, elementum quis adipiscing non, tristique ut risus.
            </p>
            </div>
        </div>
        <a href="{$basedomain}news/berita_detail" class="pull-right more btn api-btn">Read more...</a>
        <div class="clearfix"></div>
<!--END NEWS--> 
        <hr class="api-separator"/>
        
<!--START NEWS-->    
    <div class="api-news">
        <div class="title">
            <a href="{$basedomain}news/berita_detail"><h4>Kliping kegiatan 3</h4></a>
        </div>
        <div class="dateposted">
            <p>Posted by <a href="#">admin</a> at 11:20 am August 30, 2014</p>
        </div>
        <div class="content">
            <div class="col-md-3" style="padding-left: 0;">
                <img src="{$basedomain}public_assets/news/LatestNews.jpeg" class="img-responsive" />
            </div>
            <p class="text-justify">
                Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit Integer nibh orci, elementum quis adipiscing non, tristique ut risus.
            </p>
            </div>
        </div>
        <a href="{$basedomain}news/berita_detail" class="pull-right more btn api-btn">Read more...</a>
        <div class="clearfix"></div>
<!--END NEWS--> 
    </div>
</div>

</div>
    
</div>