<div class="container api-content">  
            
    <div class="row">
        <div class="col-md-12">
            <h3>Foto</h3>
        </div>
    </div>

    <div class="row">
        {foreach $data as $var}
        <div class="col-md-3" style="margin-bottom: 10px;">
            <div class="api-album">
            <a href="{$basedomain}gallery/view_foto/?album={$var.id}">
                <img src="{$basedomain}public_assets/gallery/images/{$var.image}">
            </a>
            <div class="caption_album">
                <a href="{$basedomain}gallery/view_foto/?album={$var.id}">{$var.title|truncate:25}</a>
                <p class="text-muted">{$var.count} foto</p>
            </div>
            </div>
        </div>
        {/foreach}

    </div>

</div>
