<div class="container api-content">  
    <h3>Gallery</h3>
        
        <div class="row" style="margin: 0;">
            <div class="col-md-3" style="margin-bottom: 10px;">
                <div class="api-album">
                <a href="{$basedomain}gallery/view" title="Banana">
                    <img src="{$basedomain}public_assets/gallery/thumbs/1.jpg" alt="Banana">
                </a>
                <div class="caption_album">
                    <a href="{$basedomain}gallery/view">Nama Album</a>
                    <p class="text-muted">100 photos</p>
                </div>
                </div>
            </div>
            
            <div class="col-md-3" style="margin-bottom: 10px;">
                <div class="api-album">
                <a href="{$basedomain}gallery/view" title="Banana">
                    <img src="{$basedomain}public_assets/gallery/thumbs/1.jpg" alt="Banana">
                </a>
                <div class="caption_album">
                    <a href="{$basedomain}gallery/view">Nama Album</a>
                    <p class="text-muted">100 photos</p>
                </div>
                </div>
            </div>
            
            <div class="col-md-3" style="margin-bottom: 10px;">
                <div class="api-album">
                <a href="{$basedomain}gallery/view" title="Banana">
                    <img src="{$basedomain}public_assets/gallery/thumbs/1.jpg" alt="Banana">
                </a>
                <div class="caption_album">
                    <a href="{$basedomain}gallery/view">Nama Album</a>
                    <p class="text-muted">100 photos</p>
                </div>
                </div>
            </div>
            
            <div class="col-md-3" style="margin-bottom: 10px;">
                <div class="api-album">
                <a href="{$basedomain}gallery/view" title="Banana">
                    <img src="{$basedomain}public_assets/gallery/thumbs/1.jpg" alt="Banana">
                </a>
                <div class="caption_album">
                    <a href="{$basedomain}gallery/view">Nama Album</a>
                    <p class="text-muted">100 photos</p>
                </div>
                </div>
            </div>
            
            <div class="col-md-3" style="margin-bottom: 10px;">
                <div class="api-album">
                <a href="{$basedomain}gallery/view" title="Banana">
                    <img src="{$basedomain}public_assets/gallery/thumbs/1.jpg" alt="Banana">
                </a>
                <div class="caption_album">
                    <a href="{$basedomain}gallery/view">Nama Album</a>
                    <p class="text-muted">100 photos</p>
                </div>
                </div>
            </div>
        </div>
</div>