<div class="container api-content">  

    <div class="pull-right"><a href="{$basedomain}gallery" class="btn api-btn"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></div>
        <h3>Album Name</h3>
        
        
        <div id="links">
            <a href="{$basedomain}public_assets/gallery/images/1.jpg" title="Contoh Judul Foto" data-gallery>
                <img src="{$basedomain}public_assets/gallery/thumbs/1.jpg" alt="" class="api-gallery">
            </a>
            <a href="{$basedomain}public_assets/gallery/images/2.jpg" title="" data-gallery>
                <img src="{$basedomain}public_assets/gallery/thumbs/2.jpg" alt="" class="api-gallery">
            </a>
            <a href="{$basedomain}public_assets/gallery/images/3.jpg" title="" data-gallery>
                <img src="{$basedomain}public_assets/gallery/thumbs/3.jpg" alt="" class="api-gallery">
            </a>
            <a href="{$basedomain}public_assets/gallery/images/4.jpg" title="" data-gallery>
                <img src="{$basedomain}public_assets/gallery/thumbs/4.jpg" alt="" class="api-gallery">
            </a>
            <a href="{$basedomain}public_assets/gallery/images/5.jpg" title="" data-gallery>
                <img src="{$basedomain}public_assets/gallery/thumbs/5.jpg" alt="" class="api-gallery">
            </a>
            <a href="{$basedomain}public_assets/gallery/images/6.jpg" title="" data-gallery>
                <img src="{$basedomain}public_assets/gallery/thumbs/6.jpg" alt="" class="api-gallery">
            </a>
            <a href="{$basedomain}public_assets/gallery/images/7.jpg" title="" data-gallery>
                <img src="{$basedomain}public_assets/gallery/thumbs/7.jpg" alt="" class="api-gallery">
            </a>
            <a href="{$basedomain}public_assets/gallery/images/8.jpg" title="" data-gallery>
                <img src="{$basedomain}public_assets/gallery/thumbs/8.jpg" alt="" class="api-gallery">
            </a>
        </div>

</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>