<!-- <div class="container api-content">   -->

    <div class="pull-right"><a href="{$basedomain}gallery/getfoto/?page={$page}&kategori={$kategori}" class="btn api-btn page-numbers"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></div>
        <h3>{$data_album.title}</h3>
        
        
        <div id="row links">
        {foreach $data as $var}
            <div class="col-md-3 zoomInRight animated">
                <a href="{$basedomain}public_assets/gallery/images/{$var.content}" title="Contoh Judul Foto" data-gallery>
                    <img src="{$basedomain}public_assets/gallery/images/{$var.content}" alt="" class="api-gallery img-responsive" >
                </a>
            </div>
        {/foreach}

        </div>

<!-- </div> -->

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
