<div class="container api-content">  
            
    <div class="row">
        <div class="col-md-12">
            <h3>Video</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="margin-bottom: 10px;">
            <div class="api-album">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.youtube.com/embed/ptXb0MHt71E" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="caption_album">
                    <a href="{$basedomain}gallery/view_RAKORLOK">RAKORLOK 7 BHMN</a>
                </div>
            </div>

        </div>

        <div class="col-md-3" style="margin-bottom: 10px;">
             <div class="api-album">
                <div class="embed-responsive embed-responsive-4by3">
                    <video class="embed-responsive-item" controls>
                        <source src="{$basedomain}public_assets/video/2.flv">
                    </video>
                </div>
                <div class="caption_album">
                    <a href="{$basedomain}gallery/view_RAKORLOK">RAKORLOK 7 BHMN</a>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-bottom: 10px;">
             <div class="api-album">
                <div class="embed-responsive embed-responsive-4by3">
                    <video class="embed-responsive-item" controls>
                        <source src="{$basedomain}public_assets/video/2.flv">
                    </video>
                </div>
                <div class="caption_album">
                    <a href="{$basedomain}gallery/view_RAKORLOK">RAKORLOK 7 BHMN</a>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-bottom: 10px;">
             <div class="api-album">
                <div class="embed-responsive embed-responsive-4by3">
                    <video class="embed-responsive-item" controls>
                        <source src="{$basedomain}public_assets/video/2.flv">
                    </video>
                </div>
                <div class="caption_album">
                    <a href="{$basedomain}gallery/view_RAKORLOK">12345678901</a>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-bottom: 10px;">
             <div class="api-album">
                <div class="embed-responsive embed-responsive-4by3">
                    <video class="embed-responsive-item" controls>
                        <source src="{$basedomain}public_assets/video/2.flv">
                    </video>
                </div>
                <div class="caption_album">
                    <a href="{$basedomain}gallery/view_RAKORLOK">RAKORLOK 7 BHMN</a>
                </div>
            </div>
        </div>

    </div>

</div>
