<div class="col-md-8">
    <h3>Afiliasi</h3>
    <ol>
        <li><a href="#">Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat</a></li>
        <li><a href="#">Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat</a></li>
        <li><a href="#">Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat</a></li>
        <li><a href="#">Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat</a></li>
        <li><a href="#">Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat</a></li>
        <li><a href="#">Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat</a></li>
        <li><a href="#">Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat</a></li>
        <li><a href="#">Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat</a></li>
        <li><a href="#">Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat</a></li>
    </ol>
</div>

</div>
</div>