<!-- <div class="container api-content"> -->

    <div class="pull-right"><a href="{$basedomain}organisasi/anggota/?page={$page}&kategori={$kategori}" class="btn api-btn page-numbers zoomIn animated"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></div>
    <h3>{$detailmember.name}</h3>
    <div class="row zoomIn animated">
        <div class="col-md-3 api-anggota_detail">
            <img src="{$basedomain}public_assets/anggota/2.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-9 api-anggota_detail">
            
            <h4>Bio</h4>
            
            <div class="col-md-4">
                <p class="information">Kepakaran</p>
            </div>
            <div class="col-md-8">
                <p>{$detailmember.nmps_lama}(<i>{$detailmember.internasional_term}</i>)&nbsp;&nbsp;<br/>{$detailmember.rumpun_txt}</p>
            </div>
            
            <div class="col-md-4">
                <p class="information">Contact Address</p>
            </div>
            <div class="col-md-8">
                <p>{$detailmember.StreetName}&nbsp;&nbsp;</p>
            </div>
            
            <div class="col-md-4">
                <p class="information">Phone</p>
            </div>
            <div class="col-md-8">
                <p>{$detailmember.phone_number}&nbsp;&nbsp;</p>
            </div>
            
            <div class="col-md-4">
                <p class="information">Email</p>
            </div>
            <div class="col-md-8">
                <a href="mailto:"><p>{$detailmember.email}&nbsp;&nbsp;</p></a>
            </div>
            
        </div>
    </div>
    
    <div class="row zoomIn animated">
        <div class="api-anggota_detail">
            {if $riwayatpekerjaan}
            <h4>Current Activity</h4>
            <ul>
                {foreach $riwayatpekerjaan as $valrp}
                <li>{$valrp.judul}, {$valrp.keterangan}</li>
                {/foreach}
            </ul>
            {/if}

            {if $publikasi}

            <h4>Research Interest</h4>
            <ul>
                {foreach $publikasi as $valpublikasi}
                <li>{$valpublikasi.judul}, {$valpublikasi.keterangan}</li>
                {/foreach}
            </ul>
            {/if}
            
            
            
            {if $matkul}
            <h4 style="margin-top: 10px;">Teaching Experiences</h4>
            <ul>
                {foreach $matkul as $valmatkul}

                    <li><strong>{$valmatkul.judul}</strong>, {$valmatkul.keterangan} ({$valmatkul.tahun})</li>
                {/foreach}
            </ul>
            {/if}

        </div>
    </div>
<!-- </div> -->

{*}
<div class="container api-content">
    <h3>Hyo Jeong Kim (Joanna), Ph.D.</h3>
    <div class="row">
        <div class="col-md-3 api-anggota_detail">
            <img src="{$basedomain}public_assets/anggota/2.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-9 api-anggota_detail">
            
            <h4>Bio</h4>
            
            <div class="col-md-4">
                <p class="information">Position</p>
            </div>
            <div class="col-md-8">
                <p>Profesor Aging and Human Physiology</p>
            </div>
            
            <div class="col-md-4">
                <p class="information">Contact Address</p>
            </div>
            <div class="col-md-8">
                <p>188 Sejong-daero, Jongno-gu, Seoul, Korea 110-710</p>
                <p>South Korea</p>
            </div>
            
            <div class="col-md-4">
                <p class="information">Phone</p>
            </div>
            <div class="col-md-8">
                <p>xxxx</p>
            </div>
            
            <div class="col-md-4">
                <p class="information">Fax</p>
            </div>
            <div class="col-md-8">
                <p>xxxx</p>
            </div>
            
            <div class="col-md-4">
                <p class="information">Email</p>
            </div>
            <div class="col-md-8">
                <a href="mailto:"><p>xxxx</p></a>
            </div>
            
            <div class="col-md-4">
                <p class="information">Homepage</p>
            </div>
            <div class="col-md-8">
                <a href="#"><p>xxxx</p></a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="api-anggota_detail">
            <h4>Current Activity</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            </ul>
            
            <h4>Research Interest</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            </ul>
            
            <h4>Education Background</h4>
            <div class="row education">
                <div class="col-md-2">2001-2004</div>
                <div class="col-md-3">Doktor</div>
                <div class="col-md-7">Universite de Bourgogne, Dijon, Perancis</div>
            </div>
            <div class="row education">
                <div class="col-md-2">2001-2004</div>
                <div class="col-md-3">Doktor</div>
                <div class="col-md-7">Universite de Bourgogne, Dijon, Perancis</div>
            </div>
            <div class="row education">
                <div class="col-md-2">2001-2004</div>
                <div class="col-md-3">Doktor</div>
                <div class="col-md-7">Universite de Bourgogne, Dijon, Perancis</div>
            </div>
            <div class="row education">
                <div class="col-md-2">2001-2004</div>
                <div class="col-md-3">Doktor</div>
                <div class="col-md-7">Universite de Bourgogne, Dijon, Perancis</div>
            </div>
            
            
            <h4 style="margin-top: 10px;">Teaching Experiences</h4>
            <ul>
                <li><strong>Basic Electronic</strong>, University Gunadarma-Jakarta-Indonesia (1999)</li>
                <li><strong>Basic Electronic</strong>, University Gunadarma-Jakarta-Indonesia (1999)</li>
                <li><strong>Basic Electronic</strong>, University Gunadarma-Jakarta-Indonesia (1999)</li>
            </ul>
        </div>
    </div>
</div>
{/*}