<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Dewan Kehormatan Asosiasi Profesor Indonesia</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/JB_Sumarlin.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">J. B. Sumarlin</h4>Prof. J.B. Sumarlin, Ph.D merupakan Guru Besar Fakultas Ekonomi Universitas Indonesia dalam bidang Ilmu Ekonomi. Ia mendapatkan gelar Doktorandus dari Fakultas Ekonomi UI. Master Ekonomi diperoleh dari University of California, Barkeley, pada 1960. Pendidikan doktor ditempuh di University of Pittsburg, Amerika Serikat, pada 1968. Ia meraih penghargaan Bintang Mahaputra Adiprana III (1973), dan Bintang Grootkruis in de Orde van Leopold dari Pemerintah Belgia (1975). Prof. J.B. Sumarlin, Ph.D mempunyai peranan penting pada masa pemerintahan Orde Baru karena ia memegang kunci-kunci perencanaan perekonomian dan pembangunan.</td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Ketut_Suastika.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Ketut Suastika</h4>Prof. Dr. Dr. Ketut Suastika terpilih menjadi Rektor Universitas Udayana (Unud) periode 2013—2017. Ia adalah Guru Besar dengan kepakaran Ilmu Peyakit Dalam Fakultas Kedokteran Universitas Udayana. Ia menemuh pendidikan S-1 di jurusan Pendidikan Dokter di Universitas Udayana. Lalu, ia melanjutkan studi spesialis penyakit dalam FK Universitas Airlangga dan Konsultan Endokrinologi-Metabolisme-Diabetes Perkeni-PAPDI. Ia pun mendapatkan gelar Doktor dari Universitas Kedokteran Unair. </td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Alex_Retraubun.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Alex Retraubun</h4>Prof. Dr. Ir. Alex SW Retraubun adalah Guru Besar Perikanan dan Ilmu Kelautan Universitas Pattimura (Unpatti).  Ia menyelesaikan studi sarjana di Fakultas Perikanan, Universitas Pattimura. Lalu ia menyelesaikan studi lewat program Master di bidang Manajemen Kelautan  di University of Newcastle London. Ia juga menyelesaikan program doktoralnya di universitas yang sama di bidang Ilmu Marine Ecology. Ia pernah menjabat sebagai Dirjen Kelauran, Pesisir, dan Pulau-pulau Kecil (KP3K) pada Departemen Kelautan dan Perikanan (2005—2009) dan Wakil Menteri Perindustrian mendampingi MS Hidayat. </td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Frans_Umbu_Datta.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Frans Umbu Datta</h4>Prof. Ir. Frans Umbu Datta,M.App.Sc.Ph.D merupakan Rektor Universitas Nusa Cendana (Undana) Kupang. Ia menjabat rektor sejak 2005—2013. Ia merupakan Guru Besar Fakultas Peternakan Undana. Pendidikan masternya, ia selesaikan di Charles Stuart University dalam bidang agrikultur. Selanjutnya gelar Doktor diperolehnya dari University of New England. </td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Gusti_Muhammad_Hatta.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Gusti_Muhammad_Hatta</h4>Prof. Dr. Gusti Muhammad Hatta pernah menjabat Menteri Riset dan Teknologi pada 2011—2014. Sebelumnya pada 2009—2011, ia juga menjabat Menteri Negara Lingkungan Hidup. Ia mendapatkan gelar sarjana di Fakultas Kehutanan Universitas Lambung Mangkurat. Dia meneruskan pendidikannya untuk meraih gelar Magister di Universitas Gadjah Mada. Ia pun mendapatkan gelar Doktornya di Universitas Wageningen, Belanda. Ia beberapa kali dipercaya untuk mengisi jabatan akademis di UNLAM, sebelum memangku jabatan politis sebagai menteri.</td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Mahfud_MD.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Mahfud MD</h4>Prof. Dr. Mahfud MD adalah Guru Besar Fakultas Hukum Universitas Islam Indonesia (UII), Yogyakarta, sejak 1984. Ia pernah menjabat Ketua Mahkamah Konstitusi Republik Indonesia (2008—2013). Ia menyelesaikan pendidikan strata 1 di Fakultas Hukum UII, dan Fakultas Sastra dan Kebudayaan Jurusan Sastra Arab, Universitas Gadjah Mada. Ia menyelesaikan Program Pascasarjana bidang Ilmu Politik, Universitas Gadjah Mada dan Program Doktoral bidang Ilmu Hukum Tata Negara, Universitas Gadjah Mada, Yogyakarta. Pernah pula menjabat sebagai menteri, seperti Menteri Pertahanan RI (2000—2001), Menteri Kehakiman dan HAM (2001), serta pernah pula duduk sebagai anggota DPR-RI.</td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Malik_Fadjar.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Malik Fadjar</h4>Prof. Drs. H. A. Malik Fadjar, M.Sc., dikenal sebagai Menteri Pendidikan Nasional (2001—2004) pada masa Kabinet Gotong Royong kepemimpinan Megawati Soekarnoputri. Ia menyelesaikan pendidikan dan mendapatkan gelar sarjana di Fakultas Tarbiyah, IAIN Sunan Ampel Malang. Pada 1981, ia meraih Master of Science di Departemen of Educational Research, Florida State University, Amerika Serikat. Ia mengawali karier dengan mengajar agama di SD Negeri Taliwang sampai akhirnya ia menjadi seorang guru besar di IAIN Sunan Ampel. Ia juga pernah menjabat sebagai Dekan FISIP Universitas Muhammadiyah Malang (1983—1984) dan dilanjutkan menjadi Rektor Universitas Mugammadiyah Surakarta dan Unmuh Malang.</td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Meutia_Farida_Hatta.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Meutia Farida Hatta</h4>Prof. Dr. Meutia Farida Hatta Swasono pernah menjabat sebagai Dewan Pertimbangan Presiden pada 2010. Ia juga pernah menjabat sebagai Menteri Negara Pemberdayaan Perempuan (2004—2009). Ia menyelesaikan pendidikan S-1 di Departemen Antropologi Fakultas Sastra UI (1974). Ia meraih gelar Master (1983) dan Doktor (1991) di bidang yang sama di Fakultas Pascasarjana UI. Antropologi Kesehatan merupakan bidang yang menjadi kepakarannya. </td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Toety_Heraty_Roosseno.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Toety Heraty Roosseno</h4>Prof. Dr. Toeti Herati Roosseno dikukuhkan sebagai Guru Besar Luar Biasa Fakultas Sastra Universitas Indonesia (1994). Ia merupakan Sarjana Muda Kedokteran Universitas Indonesia (1955), Sarjana Psikologi Universitas Indonesia (1962), dan pada 1974 menjadi Sarjana Filsafat dari Rijk Universitet, Leiden Belanda. Pada 1979, ia lulus sebagai Doktor Filsafat dari Universitas Indonesia. Ia pernah menjadi anggota Dewan Kesenian Jakarta (1968—1971) dan tahun (1982—1985) menjadi ketua dewan tersebut. Ia juga pernah menjadi Rektor Institut Kesenian Jakarta.</td>
				</tr>
			</table>
	    </div>
    </div>
</div>