<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4>Dewan Kehormatan</h4>

			<table>
				<tr>
					<td style="min-width: 100px;"><strong>Ketua</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>J. B. Sumarlin</td>
				</tr>
				<tr>
					<td><strong>Sekretaris</strong></td>
					<td>:</td>
					<td>Ketut Suastika</td>
				</tr>
				<tr>
					<td style="vertical-align:top;"><strong>Anggota</strong></td>
					<td style="vertical-align:top;">:</td>
					<td>
						Alex Retraubun<br>
					  	Berth Kambuaya<br>
					 	Frans Umbu Datta<br>
					  	Gusti Muhammad Hatta<br>
						Mahfud MD<br>
						Malik Fadjar<br>
						Meutia Farida Hatta<br>
						Toeti Heraty N. Roosseno<br>
					</td>
				</tr>
			</table>
	    </div>
    </div>
</div>