<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4>Dewan Pengurus Umum</h4>

			<table>
				<tr>
					<td style="min-width: 100px;"><strong>Ketua Umum</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Sofian Effendi</td>
				</tr>
				<tr>
					<td><strong>Wakil Ketua Umum</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Fasli Jalal</td>
				</tr>
				<tr>
					<td><strong>Sekretaris Umum</strong></td>
					<td>:</td>
					<td>Riris K. Toha-Sarumpaet</td>
				</tr>
				<tr>
					<td><strong>Wakil Sekretaris Umum</strong></td>
					<td>:</td>
					<td>Sulistyowati lrianto</td>
				</tr>
				<tr>
					<td><strong>Bendahara Umum</strong></td>
					<td>:</td>
					<td>E. S. Margianti</td>
				</tr>
				<tr>
					<td><strong>Wakil Bendahara Umum</strong></td>
					<td>:</td>
					<td>Lindawati Gani</td>
				</tr>
			</table>
	    </div>
    </div>
</div>