<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4>Dewan Penasihat</h4>

			<table>
				<tr>
					<td style="min-width: 100px;"><strong>Ketua</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Emil Salim</td>
				</tr>
				<tr>
					<td><strong>Sekretaris</strong></td>
					<td>:</td>
					<td>Kuntoro Mangunsubroto</td>
				</tr>
				<tr>
					<td style="vertical-align:top;"><strong>Anggota</strong></td>
					<td style="vertical-align:top;">:</td>
					<td>
						A. Gufron<br>
						Andriyanto<br>
						Eko Prasojo<br>
						Herry Suhardiyanto<br>
						ldrus A. Paturussi<br>
						J. B. Kristiadi<br>
						Lukman Hakim<br>
						Musdah Mulia<br>
						Paul Suparno<br>
						Pratikno<br>
						Saparinah Sadli<br>
						Satryo S. Brodjonegoro<br>
						Syahril Pasaribu<br>
					</td>
				</tr>
			</table>
	    </div>
    </div>
</div>