<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Dewan Pengurus Pusat Asosiasi Profesor Indonesia</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pusat_Sofian_Effendi.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Sofian Effendi</h4>Prof. Dr. Sofian Effendi merupakan Guru Besar Kebijakan Publik Universitas Gadjah Mada. Saat ini ia menjabat sebagai Ketua Komisi Aparatur Sipil Negara (KASN). Sebelumnya ia terpilih menjadi Rektor Universitas Gadjah Mada (2002-2007) dan Ketua Majelis Wali Amanat Universitas Gadjah Mada (2012-2014). Ia juga pernah menjabat sebagai Kepala Badan Kepegawaian Negara (1999-2000), Asisten Menteri Bidang Pengawasan dan Pengendalian Kebijakan (1998), dan Asisten Wakil Presiden Republik Indonesia bidang Pengawasan dan Pengendalian Kebijakan (1998-1999). Ia mendapatkan gelar doktorandus dalam bidang Administrasi Publik, Universitas Gadjah Mada, gelar MPIA dalam bidang Economic and Social Development, University of Pittsburgh, Amerika Serikat dan gelar Ph.D dalam bidang Kebijakan Publik dari universitas yang sama.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pusat_Fasli_Jalal.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Fasli Jalal</h4>Prof. Dr. dr. Fasli Jalal, Ph.D merupakan Guru Besar dalam Bidang Ilmu Gizi Masyarakat dengan minor di bidang Epidemiologi dan Program Studi Asia Tenggara. Ia menamatkan pendidikan tingginya di Fakultas Kedokteran Universitas Andalas, Padang (1982) dan mendapatkan gelar Doctor of Philosophy (Ph.D) dari Universitas Cornell, Ithaca, New York (1991). Selain sebagai dokter dan pengajar, ia dipercaya beberapa kali menduduki jabatan penting dalam pemerintahan dan beberapa organisasi profesi. Ia adalah Wakil Menteri Pendidikan Nasional Indonesia (6 Januari 2010-19 Oktober 2011), mendampingi Menteri Pendidikan Nasional Muhammad Nuh. Ia juga sempat menjabat sebagai Kepala Badan Kependudukan dan Keluarga Berencana Nasional (BKKBN) periode 2013-2015.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pusat_Riris_K_Toha_Sarumpaet.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Riris K. Toha-Sarumpaet</h4>Prof. Riris K. Toha-Sarumpaet, M.Sc, Ph.D adalah Guru Besar dengan bidang keahlian Sastra Modern, meliputi Sastra Anak, Drama, Metode Penelitian Sastra, dan Pengkajian Cerita Anak. Ia juga seorang pencerita, pendidik, dan penulis cerita anak. Baginya, masa kanak-kanak merupakan masa yang paling penting dalam membentuk dan menentukan kehidupan setelahnya. Karena itu pula sangat penting menyediakan pendidikan dan buku-buku yang berkualitas kepada anak-anak. Ia lulus dari Fakultas Sastra UI (1975) dan meraih gelar  M.Sc. dari University of Wisconsin, USA (1978) dan Ph.D. dari universitas yang sama pada 1983.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pusat_Sulistyowati_Irianto.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Sulistyowati Irianto</h4>Prof. Dr. Sulistyowati Irianto Suwarno, MA adalah Guru Besar Antropologi Hukum Universitas Indonesia dengan bidang keahlian studi sosio-legal, serta gender dan hukum. Ia menamatkan pendidikan sarjana pada jurusan Administrasi Negara, Fakultas Ilmu Sosial dan Politik UGM. Setelah itu ia melanjutkan studi Antropologi Hukum di Universitas Leiden, Belanda (1989). Ia memperoleh gelar doktor bidang antropologi hukum di Universitas Indonesia (2000). Ia aktif di beberapa organisasi profesi, di antaranya menjadi anggota The Commision on Folk Law and Legal Pluralism (The International Union of Anthropological and Ethnological Science, IUAES, (2003-sekarang), sekretaris the Asian Initiatives on Legal Pluralism (2002-2004), dan Board Member of the Convention Watch, University of Indonesia (1994-sekarang).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pusat_E_S_Margianti.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">E.S. Margianti</h4>Prof. Dr. E.S. Margianti, S.E.,M.M. adalah Rektor Universitas Gunadarma. Ia juga seorang Guru Besar Ilmu  Manajemen Fakultas Ekonomi Universitas Gunadarma. </td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pusat_Lindawati_Gani.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Lindawati Gani</h4>Prof. Dr. Lindawati Gani merupakan Guru Besar Ilmu Akuntansi Fakultas Ekonomi Universitas Indonesia. Ia menyelesaikan studi sarjana strata 1 di jurusan Akuntansi, Fakultas Ekonomi, Universitas Airlangga. Ia melanjutkan studi di jurusan Ilmu Manajemen, Fakultas Ekonomi Universitas Indonesia. Ia mendapatkan gelar Doktor bidang Ilmu Manajemen di Universitas Indonesia pada 2002.</td>
				</tr>
			</table>
	    </div>
    </div>
</div>