<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Dewan Kehormatan Asosiasi Profesor Indonesia</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Emil_Salim.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Emil Salim</h4>Prof. Dr. Emil Salim, MA, Ph.D merupakan guru besar Bidang Ekonomi Perencanaan dengan minat utama pada pembangunan berkelanjutan, pembangunan negara berkembang memuat dimensi pembangunan ekonomi, pembangunan sosial, dan pembangunan ekologi melalui pedekatan multidisiplin. Ia adalah ilmuwan yang terus-menerus mendapatkan amanat untuk mengemban tugas-tugas penting dalam birokrasi pemerintah sejak zaman Orde Baru. Sampai sekarang, Prof. Dr. Emil Salim masih terus memiliki banyak aktivitas, terutama berkaitan dengan isu-isu ekonomi nasional, pembangunan berkelanjutan, lingkungan, hak asasi manusia, dan kemajuan bangsa. </td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Kuntoro_Mangunsubroto.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Kuntoro Mangunsubroto</h4>Prof. Dr. Ir. Kuntoro Mangkusubroto merupakan guru besar Teknik Industri Institut Teknologi Bandung dengan minat riset di bidang Decision Analysis and Strategic Negotiation dan bergabung di Kelompok Keahlian Manajemen Insani dan Kewirausahaan dengan kepakaran Strategic Negotiation. Ia menuntaskan pendidikan sarjana di Institut Teknologi Bandung (1972) dan mendapat gelar Master di Stanford University (USA) tahun 1977). Lalu ia menyelesaikan program Doktor di Institute Teknologi Bandung tahun 1982. Ia sempat menjabat sebagai direktur utama di beberapa perusahaan tambang. Pada 1998—1999, ia menjabat Menteri Pertambangan dan Energi Republik Indonesia. Ia juga menjadi Kepala Unit Kerja Bidang Pengawasan dan Pengendalian Pembangunan.</td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/A_Gufron.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">A. Gufron</h4>Prof. Dr. Ali Ghufron Mukti M.Sc., Ph.D. merupakan Dekan Fakultas Kedokteran Universitas Gadjah Mada. Ia juga merupakan pakar Jamkesmas yang pernah menjadi Wakil Menteri Kesehatan (2011—2014). Ia menyelesaikan pendidikan dokternya pada 1988 di Universitas Gadjah Mada. Lalu ia menyelesaikan pendidikan S-2 Tropical Medicine, The Departement of Tropical Hygiene, Mahidol University, Bangkok, Thailand, 1991. Ia menyelesaikan program Doktor di University of Newcastle, Australia (2000) dan menyelesaikan Profesi Ahli Asuransi Kesehatan (AAK) dari Pamjaki, tahun 2002.</td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><!--<img src="{$basedomain}assets/img/struktur_organisasi/Frans_Umbu_Datta.jpg" class="img-responsive">--></td>
					<td class="padding-r"><h4 class="nomargin-t">Adriyanto</h4></td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Eko_Prasojo.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Eko Prasojo</h4>Prof. Dr. Eko Prasojo merupakan Guru Besar Ilmu Administrasi Publik, Fakultas Ilmu Sosial dan Ilmu Politik Universitas Indonesia. Ia menyelesaikan pendidikan S-1 di bidang Ilmu Administrasi Publik, FISIP-UI pada 1995, dan melanjutkan studinya dan meraih gelar Master of Public Administration (Mag. rer. publ.) dari Deutsche Hochschule fur Verwaltungswissenschaften Speyer (Speyer Post-Graduate Program for Public Administration, Germany (2000), dan meraih gelar doktor di tempat yang sama pada tahun 2003. Ia pernah menjabat sebagai Anggota Dewan Pertimbangan Otonomi Daerah (DPOD, Kementrian Dalam Negeri RI). Pada 2012, ia menjadi Wakil Menteri Pendayagunaan Aparatur Negara dan Reformasi Birokrasi.</td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Herry_Suhardiyanto.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Herry Suhardiyanto</h4>Prof. Dr. Ir. Herry Suhardiyanto adalah Rektor Institut Pertanian Bogor (2008—2012; 2012—sekarang). Spesialisasi studinya adalah inovasi dan teknologi rumah tanaman dan hidroponik untuk wilayah beriklim tropis basah. Ia menamatkan program sarjana di Departemen Mekanisasi Pertanian, Fakultas Teknologi Pertanian pada tahun 1981. Ia lalu mendapatkan gelar master dari Universitas Kochi, Jepang, tahun 1991, dan gelar PhD dari Universitas Ehime, Jepang, tahun 1994.</td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Idrus_A_Paturussi.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Idrus A. Paturussi</h4>Prof. dr. Idrus Paturusi, pernah menjabat sebagai Rektor Universitas Hasanuddin (2006—2014). Ia merupakan Guru Besar dalam bidang Bedah Ortopedi Fakultas Kedokteran Universitas Hasanuddin. Ia menyelesaikan pendidikan dokter di Universitas Hasanuddin pada 1977. Ia memperoleh gelar dokter bedah umum pada 1979 dan bedah ortopedi pada 1984 dari Universitas Indonesia. Ia menyelesaikan gelar Doktor dalam ilmu kedokteran di Universitas Hasanuddin. Ia aktif dalam pekerjaan social. Saat ini ia menjabar sebagai Presiden Association of Southeast Asia and Pacific of Higher Learning (ASAIHL) 2013-2016. </td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/JB_Kristiadi.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">JB Kristiadi</h4>Prof. Dr. J.B.Kristiadi merupakan seorang pakar telematika. Ia pernag menjabat sebagai Sekretaris Menteri Komunikasi dan Informatika. Ia pernah menjabat juga sebagai Ketua Lembaga Administrasi Negara RI (1990—1998). Ia menyelesaikan pendidikan sarjananya di Fakultas Hukum dan Ilmu Pengetahuan Kemasyarakatan (sekarang FISIP) Universitas Indonesia tahun 1971. Kemudian Ia berhasil meraih gelar doctor di Sorbonne University, Prancis, tahun 1979. Ia juga sempat menjabat Asisten Menteri Wasbangpan (1998—2000).</td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Lukman_Hakim.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Lukman Hakim</h4>Prof. Lukman Hakim M.Sc, Ph.D, memiliki karier yang cukup panjang di Lembaga Ilmi Pengetahuan Indonesia. Sebelum menjadi Kepala LIPI, ia menjadi Wakil Kepala LIPI (sejak 2003), Deputi Ketua LIPI bidang Jasa Ilmiah (2001—2003), dan Direktur Pengembangan dan Penguasaan Teknologi BPP Teknologi (1998—2001). Pada 2003, ia menjadi Profesor Riset bidang Studi Kebijakan Ilmu Pengetahuan dan Teknologi. Ia merupakan lulusan Fakultas MIPA UI pada 1979. Ia meraih gelar master dalam ilmu kebijakan di Universitas Tokyo, Jepang, dan meraih gelar doktor untuk studi kebijakan ilmu pengetahuan dan teknologi di universitas yang sama pada 1993. </td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Musdah_Mulia.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Musdah Mulia</h4>Prof. Dr. Hj. Siti Musdah Mulia adalah seorang aktivis perempuan, peneliti, konselor, dan penulis. Ia merupakan Ketua Lembaga Kajian Agama dan Jender (LKAJ). Ia menamatkan program sarjana (S-1) di IAIN Alauddin Makassar pada 1982. Ia menamatkan program Pascasarjana (S-2 dan S-3) di IAIN Syarif Hidayatullah, Jakarta. </td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Paul_Suparno.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Paul Suparno</h4>Prof. Dr. Paul Suparno, S.J.  menamatkan studi S1 di IKIP Sanata Dharma dan melanjutkan studi S2 di Boston College pada bidang Pendidikan Fisika. Studi S3 bidang Pendidikan Sains diselesaikan tahun 1996 di Boston University.  Pada tahun 2012, ia dikukuhkan sebagai Guru Besar Pendidikan Fisika. Mantan Rektor Universitas Sanata Dharma periode 2001—2006 ini dikenal sebagai tokoh dan pemerhati dunia pendidikan.  </td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Pratikno.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Pratikno</h4>Prof. Pratikno, M.Soc.Sc menjadi Rektor Universitas Gadjah Mada pada 2012, sebelum ia dipercaya menjadi Menteri Sekretaris Negara. Ia merupakan Guru Besar Fakultas Ilmu Sosial dan Ilmu Politik UGM. Ia menyelesaikan pendidikan sarjananya di jurusan Ilmu Pemerintahan Fisipol UGM (1980—1085). Ia melanjutkan pendidikannya dan mendapatkan gelar Master dari Department of Development Administration University of Birmingham, Inggris. Ia pun melanjutkan program doctoral di Flinders University of South Australia jurusan Asia Studies. </td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Saparinah_Sadli.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Saparinah Sadli</h4>Prof. Saparinah Sadli merupakan Guru Besar Psikologi Klinis dari Fakultas Psikologi Universitas Indonesia. Ia meraih gelar sarjana muda di Fakultas Farmasi Universitas Gadjah Mada tahun 1953, kemudian meneruskan program sarjana (1963) sampai Doktor Psikologi (1976) di Universitas Indonesia. Ia dikenal sebagai aktivis yang gigih memperjuangkan hak asasi manusia (HAM) dan kesetaraan gender. Ia juga yang memelopori dan memimpin pembentukan Pusat Kajian Perempuan UI, Komnas HAM, dan Komnas Perempuan. </td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Satryo_S_Brodjonegoro.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Satryo S. Brodjonegoro</h4>Prof. Dr. Satryo Soemantri Brodjonegoro merupakan Guru Besar Teknik Mesin Institute Teknologi Bandung. Ia pernah menjadi Direktur Jendral Pendidikan Tinggi, Kementerian Pendidikan Nasional selama 1999—2007. Ia mendapatkan gelar doktornya dari University of California at Barkeley, Amerika Serikat, tahun 1984. </td>
				</tr>

				<tr>
					<td style="width: 30%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Syahril_Pasaribu.jpg" class="img-responsive"></td>
					<td class="padding-r"><h4 class="nomargin-t">Syahril Pasaribu</h4>Prof. Dr. Dr. Syahril Pasaribu menjabat sebagai Rektor Universitas Sumatra Utara periode (2010—2015). Ia adalah lulusan S1 Fakultas Kedokteran USU 1978, Gelar master diperolehnya di Mahidol University, Bangkok, Thailand dengan bidang studi tropical medicine (1988) dan gelar doktor diperolehnya dari USU (2004). Ia pernah menjabat sebagai Ketua Ikatan Dokter Anak Indonesia (IDAI) Sumatra Utara. </td>
				</tr>
			</table>
	    </div>
    </div>
</div>