<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4>Dewan Pengurus</h4>

			<table>
				<tr>
					<td style="min-width: 100px;"><strong>Kabid Kependudukan &amp; Ketenagakerjaan</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Mayling Dey-Gardiner</td>
				</tr>
				<tr>
					<td><strong>Wakil Ketua</strong></td>
					<td>:</td>
					<td>Prijono Tjiptoherijanto</td>
				</tr>
				<tr>
					<td><strong>Sekretaris</strong></td>
					<td>:</td>
					<td>Ari Kuncoro</td>
				</tr>
				<tr>
					<td style="vertical-align:top;"><strong>Anggota</strong></td>
					<td style="vertical-align:top;">:</td>
					<td>
						Agus Dwiyanto<br>
						Siswanto Agus Wilopo
						Sri Moertiningsih<br>
						Setyo Adioetomo<br>
					</td>
				</tr>
			</table>
	    </div>
    </div>
</div>