<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Ideologi dan Budaya</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/ideologi_Azyumardi_Azra.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Azyumardi Azra - Kabid Ideologi dan Budaya</h4>Prof. Dr. Azyumardi Azra adalah Guru Besar Sejarah dan mantan Rektor UIN Syarif Hidayatullah Jakarta periode 1998-2006. Ia mendapat predikat sebagai cendikiawan muslim Indonesia ini mendapat gelar kehormatan sebagai <i>Commander of the Order of British Empire</i> pada 2010. Ia menyelesaikan pendidikan sarjana di Fakultas Tarbiyah, IAIN Jakarta.  Ia mendapatkan beasiswa <i>Fullbright</i> tahun 1988 untuk melanjutkan pendidikan di Departemen Bahasa dan Budaya Timur Tengah University Columbia, AS. Gelar <i>Master of Philosophy</i> ia peroleh pada tahun 1992. Gelar doktor pun didapatnya dari universitas yang sama.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/ideologi_A_Agus_Nugroho.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">A. Agus Nugroho - Wakil Ketua</h4>Prof. Dr. Alois Agus Nugroho adalah Guru Besar Ilmu Administrasi Universitas Atma Jaya Jakarta. Ia adalah alumnus STF Driyarkara, Jakarta, tahun 1982. Ia melanjutkan studi dalam bidang filsafat di Katholieke Universiteit Leuven, Belgia dan mendapatkan gelar master pada 1989. Gelar doktor diraihnya dari universitas yang sama pada 1991. Selain menjadi pengajar, ia juga aktif dalam organisasi. Ia pernah menjabat Ketua Himpunan Dosen Etika (Hidesi) periode 1998-2001 dan 2001-2004).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/ideologi_M_Sirozi.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">M. Sirozi - Sekretaris</h4>Prof. H.M. Sirozi, M.A., Ph.D., adalah Guru Besar Ilmu Pendidikan Universitas Islam Negeri Raden Fatah Palembang. Saat ini, ia menjabat sebagai Wakil Rektor I UIN Raden Fatah, Palembang. Ia banyak menulis ihwal politik dan pendidikan.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/ideologi_Agus_Sardjono.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Agus Sardjono - Anggota</h4>Prof. Dr. Agus Sardjono merupakan Guru Besar Ilmu Hukum Keperdataan Universitas Indonesia. Ia mendedikasikan dirinya untuk penguatan masalah hak cipta. Ia menjadi Ketua Indonesia Intellectual Property Academy (IIPA) yang didirikan sejak Mei 2009. Ia juga pernah menjadi Anggota Majelis Pengawas Wilayah Notaris DKI Jakarta, dan Staf Ahli Kamar Dagang dan Industri Wilayah DKI Jakarta sejak 2002.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/ideologi_Gerrit_Singgih.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Gerrit Singgih - Anggota</h4>Prof. E. Gerrit Singgih, Ph.D., adalah pengajar teologi, filsafat, dan kontekstualisasi,  di Fakultas Teologi Universitas Kristen Duta Wacana, Yogyakarta. Ia mendapat gelar sarjana teologi dari Sekolah Tinggi Teologi Duta Wacana, Yogyakarta (1977) dan memperoleh gelar Ph.D di Universitas Glasgow, Inggris (1982). Ia pernah menjabat sebagai Dekan Fakultas Teologi UKDW, Yogyakarta selama dua periode (1993-1999; 2003-2007). Ia aktif di beberapa organisasi seperti Anggota Masyarakat Yogyakarta untuk Ilmu dan Agama (MYIA), anggota Ikatan Sarjana Biblika Indonesia (ISBI).</td>
				</tr>

			</table>
	    </div>
    </div>
</div>