<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Kependudukan &amp; Ketenagakerjaan</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/tenaker_Mayling_Oey_Gardiner.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Mayling Oey-Gardiner - Kabid Kependudukan &amp; Ketenagakerjaan</h4>Prof. Mayling Oey-Gardiner, M.A., Ph.D. merupakan guru besar perempuan pertama Fakultas Ekonomi dan Bisnis Universitas Indonesia. Bidang keahliannya adalah Kependudukan, Faktor Non-Ekonomi dalam Pembangunan, Ekonomi Sumber Daya Manusia dan Metodologi Penelitian. Adapun minat penelitian utamanya pada Kebijakan Sosial dalam Pembangunan, Dampak Sosial dari Pembangunan, Kemiskinan, Pendidikan, Kesehatan, serta Ketenagakerjaan, dan Isu Gender. Ia pernah aktif di beberapa lembaga penelitian, seperti LEKNAS LIPI, Lembaga Demografi FEUI, dan Lembaga Penyelidikan Ekonomi dan Masyarakat (LPEM) FEUI, dan Insan Hitawasana Sejahtera (IHS). Kini kegiatannya terbatas pada mengajar di FEB UI dan meneliti serta berseminar di Akademi Ilmu Pengetahuan Indonesia (AIPI).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/tenaker_Prijono_Tjiptoherijanto.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Prijono Tjiptoherijanto - Wakil Ketua</h4>Prof. Prijono Tjiptoherijanto, S.E., M.A., Ph.D. merupakan Guru Besar bidang Ilmu Pengantar Ekonomi Mikro dan Makro. Minat utamanya pada Kependudukan, Ketenagakerjaan, Birokrasi, dan Administrasi Publik. Bidang keahliannya meliputi ekonomi sumber daya manusia dan administrasi publik. Ia meraih gelar Ph.D. dari University of Hawaii (1981) setelah sebelumnya memperoleh gelar M.A. dari University the Philippines (1977) dan gelar Sarjana Ekonomi Jurusan Pemerintahan Fakultas Ekonomi Universitas Indonesia (1973).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/tenaker_Ari_Kuncoro.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Ari Kuncoro - Sekretaris</h4>Prof. Ari Kuncoro, S.E., M.A., Ph.D. adalah Guru Besar Fakultas Ekonomi Universitas Indonesia dengan kepakaran ekonomi moneter. Setelah lulus dari UI pada 1986, ia melanjutkan pendidikan magisternya di University of Minnesota pada bidang development economics dan lulus tahun 1990. Tak berselang lama, pada 1994 ia menamatkan pendidikan doktoralnya di Brown University. Ia adalah dekan terpilih Fakultas Ekonomi untuk periode 2013-2017.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/tenaker_Agus_Dwiyanto.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Agus Dwiyanto - Anggota</h4>Prof. Dr. Agus Dwiyanto, M.P.A. adalah Guru Besar Kebijakan Publik Universitas Gadjah Mada. Ia menyelesaikan studi sarjana di jurusan administrasi publik UGM. Setelah itu, ia menyelesaikan pendidikan master dan doktor di University of Southern California, Los Angeles. Ia pernah menjabat sebagai Direktur Pusat Studi Kebijakan dan Kependudukan (1995-2003), Kepala Departemen Administrasi Publik UGM (1993-1998) dan Kepala Lembaga Administrasi Negara (2012-2015).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/tenaker_Siswanto_Agus_Wilopo.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Siswanto Agus Wilopo - Anggota</h4>Prof. Dr. dr. Siswanto Agus Wilopo, SU, M.Sc., Sc.D. adalah Guru Besar Fakultas Kedokteran Universitas Gadjah Mada dengan kepakaran di bidang kesehatan reproduksi. Ia menyelesaikan studi pendidikan dokter di Fakultas Kedokteran Universitas Gadjah Mada (1979). Ia mendapatkan gelar master dari Faculty of Health Science McMaster University, Hamilton, Ontario, Canada. Ia pun mendapatkan gelar doktor dari School of Public Health, The John Hopkins University, Baltimore, USA di jurusan <i>Population Dynamics</i>.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/tenaker_Sri_Moertiningsih_Setyo_Adioetomo.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Sri Moertiningsih Setyo Adioetomo - Anggota</h4>Prof. Dr. Sri Moertiningsih Adioetomo S.E., M.A., Ph.D. merupakan Guru Besar bidang Ilmu Ekonomi Kependudukan dan Ketenagakerjaan pada Fakultas Ekonomi UI. Pada 1972 ia mendapat gelar sarjana ekonomi dari Fakultas Ekonomi Universitas Indonesia. Pada 1981 meraih gelar Master of Arts dalam bidang Demografi dari Australian National University, Canberra. Pada 1994, ia mendapat gelar doktor dari universitas yang sama. Selain melakukan penelitian, ia aktif pula sebagai konsultan serta beberapa kali aktif dalam pemerintahan.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>