<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Kesehatan</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/kesehatan_Purnawan_Junadi.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Purnawan Junadi - Kabid Kesehatan</h4>Prof. dr. Purnawan Junadi, M.P.H., Ph.D. adalah Guru Besar dengan kepakaran Administrasi dan Kebijaksanaan Kesehatan. Ia menyelesaikan pendidikan S1 di Fakultas Kedokteran UI tahun 1978, S2 di School of Public Health, University of Michigan, Amerika Serikat tahun 1983, dan mengambil Ph.D di Urban, Technological and Environmental Planning tahun 1987 di universitas yang sama. Ia juga mengambil pendidikan profesi asuransi kesehatan dari Health Insurance Association of   America tahun 2000. Ia menjadi konsultan jangka pendek berbagai institusi seperti Unicef, HKI, World Vision, dan Departemen Kesehatan dalam berbagai kegiatan Gizi, TB, dan menjadi narasumber dalam pelaksanaan Riset kesehatan Nasional seperti RISKESDAS 2007 dan 2013 dan RIFASKES 2011.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/kesehatan_Biran_Affandi.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Biran Affandi - Wakil Ketua</h4>Prof. Dr. Biran Affandi merupakan Guru Besar Ilmu Obstetri dan Ginekologi Fakultas Kedokteran Universitas Indonesia. Ia menyelesaikan program spesialis Ilmu Obstetri dan Ginekologi FKUI tahun 1976 dan Ia memperoleh gelar doktor tahun 1987. Ia telah menulis lebih dari 200 karya ilmiah mengenai Keluarga Berencana (KB) dan kesehatan reproduksi. Ia juga pernah aktif dalam organisasi, seperti Sekjen Pengurus Besar Ikatan Dokter Indonesia (1975-1978), Ketua Majelis Kolegium Kedokteran Indonesia (2003-2009), Ketua Perkumpulan Kontrasepsi Indonesia (2007-2012), Ketua Umum Perkumpulan Obsetri dan Ginekologi Indonesia (1993-2000), dan Ketua Kolegium Obstetri dan Ginekologi (2000-2009).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/kesehatan_Akmal_Taher.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Akmal Taher - Sekretaris</h4>Prof. Dr. dr. med. Akmal Taher, Sp.U (K) adalah Guru Besar Fakultas Kedokteran Universitas Indonesia. Ia menyelesaikan  pendidikan dokter umum di Fakultas Kedokteran Universitas Indonesia, dan lulus sebagai Urolog pada tahun 1988. Ia menjadi research fellow di Hannover Medical School and Institute for Peptide Research, Hannover, Jerman (1990-1992). Gelar Doktor Medikus dan PhD diraihnya dari institusi tersebut pada tahun 1993, serta gelar doktor diperoleh dari FKUI pada tahun yang sama. Ia pernah menjabat sebagai Direktur Utama Rumah Sakit Dr. Cipto Mangunkusumo, Jakarta. Ia juga aktif dalam berbagai penelitian dan organisasi profesi.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>