<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Pendidikan</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pendidikan_Sunaryo_Kartadinata.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Sunaryo Kartadinata - Kabid Pendidikan</h4>Prof. Dr. Sunaryo Kartadinata, M.Pd. adalah Guru Besar Ilmu Pendidikan dalam bidang Bimbingan dan Konseling Universitas Pendidikan Indonesia. Ia menyelesaikan pendidikan sarjananya di IKIP Bandung (1976). Lalu ia mendapatkan mendapatkan gelar master (1983) dan doktor (1988) dari tempat yang sama. Ia adalah Rektor Universitas Pendidikan Indonesia selama dua periode (2005-2010; 2010-2015). Ia juga aktif dalam memimpin beberapa organisasi profesi, seperti Ketua Majelis Eksekutif Asosiasi Lembaga Pendidikan Tenaga Kependidikan (ALPTKI), Ketua Ikatan Sarjana Pendidikan Indonesia (ISPI), Ketua Majelis Eksekutif Asosiasi LPTK Indonesia, dan beberapa organisasi lainnya.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pendidikan_Muchlas_Samani.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Muchlas Samani - Wakil Ketua</h4>Prof. Dr. Muchlas Samani adalah Guru Besar Universitas Negeri Surabaya (UNESA). Ia menamatkan pendidikan sarjana di jurusan Pendidikan Teknik Mesin, IKIP Negeri Surabaya. Ia melanjutkan studinya dan mendapatkan gelar master dan doktor (1991) dari program Pendidikan Teknik Mesin IKIP Negeri Jakarta. Pada 1981, ia menjadi Staf Ahli Menteri Pendidikan Nasional. Ia juga pernah menjabat sebagai Rektor Universitas Negeri Surabaya (UNESA).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pendidikan_M_Furqon_Hidayatullah.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">M. Furqon Hidayatullah - Sekretaris</h4>Prof. Dr. M. Furqon Hidayatullah, M.Pd. adalah Guru Besar dengan keahlian pendidikan olahraga di Universitas Negeri Sebelas Maret (UNS) Surakarta. Pendidikan sarjana strata 1 ditamatkannya di FKIP Universitas Sebelas Maret Surakarta (1986). Ia lalu mendapatkan gelar master (1993) dan doktor (1998) dari IKIP Jakarta. Ia pernah menjadi Dekan FKIP UNS pada 2007-2011. Sejak 2010, ia menjabat sebagai Ketua Forum Komunikasi FKIP se-Indonesia.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pendidikan_Rochmat_Wahab.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Rochmat Wahab - Anggota</h4>Prof. Dr. Rochmat Wahab, M.Pd., M.A. adalah Guru Besar dalam bidang Ilmu Pendidikan Anak Berbakat pada Fakultas Ilmu Pendidikan, Universitas Negeri Yogyakarta. Saat ini, ia menjabat Rektor Universitas Negeri Yogyakarta periode kedua (2013-2018). Ia juga menjadi Ketua III Ikatan Sarjana Pendidikan Indonesia (2014-2019). Ia mendapatkan gelar sarjana di jurusan Pendidikan Luar Biasa, FIP. IKIP Bandung. Kemudian ia mendapatkan gelar master di jurusan Bimbingan dan Konseling, PPS IKIP Bandung, dan Curriculum and Instruction for Elementary Education, College of Education, The University of Iowa (1993). Ia mendapatkan gelar doktor dari Universitas Pendidikan Indonesia.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pendidikan_Tian_Belawati.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Tian Belawati - Anggota</h4>Prof. Ir. Tian Belawati, M.Ed., Ph.D., adalah Rektor Universitas Terbuka. Setelah lulus dari Institut Pertanian Bogor, ia mengabdikan diri bersama Universitas Tebuka untuk mengembangan metode pendidikan jarak jauh. Ia pun mendapatkan gelar Master of Education dari Simon Fraser University, Canada dan gelar Doctor of Philosophy dari University of British Columbia, Vancouver. Ia adalah wanita Asia pertama yang terpilih sebagai Presiden The International Council for Open and Disstance Education (ICDE).</td>
				</tr>

			</table>
	    </div>
    </div>
</div>