<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Pembangunan Pertanian dan Perikanan</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pertanian_Roedhy_Poerwanto.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Roedhy Poerwanto - Kabid Pembangunan Pertanian dan Perikanan</h4>Prof. Dr. Ir. H. Roedhy Poerwanto, M.Sc. adalah Guru Besar Hortikultura Fakultas Pertanian Institut Pertanian Bogor. Beliau meraih gelar insinyur bidang Agronomi pada Fakultas Pertanian, IPB. Pada tahun 1987 beliau melanjutkan pendidikannya di Jepang untuk meraih gelar master dalam bidang Hortikultura di Kagawa University dan doktor dalam bidang Bioresource Production Science di Ehime University. Dalam pemerintahan, ia pernah menjabat di beberapa posisi, seperti Direktur Tanaman Buah, Direktorat Tanaman Buah, Kementerian Pertanian (2003-2005), Wakil Ketua Komisi Teknis Ketahanan Pangan, Dewan Riset Nasional Kemenristek (2009-2011).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pertanian_Siti_Muslimah_Widyastuti.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Siti Muslimah Widyastuti - Wakil Ketua</h4>Prof. Dr. Ir. Siti Muslimah Widyastuti, M.Sc. adalah Guru Besar Ilmu Kehutanan Universitas Gadjah Mada. Ia adalah lulusan Fakultas Pertanian UGM (1983). Ia kemudian melanjutkan studi masternya di Saga University bidang Plant Pathology (1989), sedangkan gelar doktor bidang Biochemicals and Pytopathology-kagoshima diraih dari Union Graduate University (1992). Ia pernah menjabat sebagai Kepala Laboratorium Perlindungan dan Kesehatan Hutan UGM. Ia juga pendiri dan pengurus Yayasan Annisa Swasti (Yasanti), Ketua Perkumpulan Keluarga Berencana Indonesia (PKBI) DIY, Pimpinan Pusat Aisyiah Bagian Dikti, serta Badan Pelaksana Harian Stikes Aisyiah Yogyakarta.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/pertanian_Sudirman.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Sudirman - Sekretaris</h4>Prof. Dr. Ir. Sudirman Yahya, M.Sc. adalah Guru Besar Agronomi Perkebunan Institut Pertanian Bogor. Gelar sarjana diraih dari Institut Pertanian Bogor tahun 1975. Ia menyelesaikan gelar Magister dan Doktor bidang Agronomi di University of Wisconsin, Amerika Serikat. Ia pernah menjabat sebagai Kepala Kantor Pengkajian dan Pengembangan Pendidikan IPB; Ketua Jurusan Budidaya Pertanian, Faperta IPB; dan Sekretaris Jenderal Perhimpunan Agronomi Indonesia (PERAGI). Ia juga aktif dalam kegiatan kerjasama dengan institusi pemerintahan dan perusahaan.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>