<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Pembangunan Komunikasi dan Teknologi Informasi</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/komunikasi_Chan_Basaruddin.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Chan Basaruddin - Kabid Pembangunan Komunikasi dan Teknologi Informasi</h4>Prof. Drs. T. Basaruddin, M.Sc., Ph.D. adalah Guru Besar Ilmu Komputer Universitas Indonesia. Ia menyelesaikan pendidikan S-1 di Jurusan Matematika, Universitas Gadjah Mada. Awal 1985 bergabung sebagai staf di Pusat Ilmu Komputer, Universias Indonesia. Pada tahun 1986 meneruskan pendidikan dalam bidang Computing di University of Manchester (England), dan mendapat gelar MSc tahun 1988 dan Ph.D tahun 1990. Ia pernah menjabat sebagai Sekretaris Dewan Pendidikan Tinggi Direktorat Jenderal Pendidikan Tinggi (2002-2005). Tahun 2004, ia diangkat sebagai Dekan Fakultas Ilmu Komputer UI, yang dijabat hingga akhir tahun 2013.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/komunikasi_Arif_Djunaidy.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Arif Djunaidy - Wakil Ketua</h4>Prof. Ir. Arif Djunaidy, M.Sc., Ph.D. adalah Guru Besar Sistem Informasi Institut Teknologi Sepuluh Nopember. Bidang penelitiannya adalah Manajemen dan Rekayasa Data dan Pengetahuan. Ia menamatkan studi sarjana di jurusan Teknik Elektro, Institut Teknologi Sepuluh Nopember, Surabaya (1984).  Ia lalu melanjutkan studinya dalam bidang Ilmu Komputer di University of Manchester, Inggris dan mendapatkan gelar MSc tahun 1988 dan PhD tahun 1992. Ia adalah Dekan Fakultas Teknologi Informasi, ITS periode (2001-2007). Sejak 2007, ia menjadi Pembantu Rektor I Bidang Akademik, Institut Teknologi Sepuluh Nopember Surabaya.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/komunikasi_Iping_Supriana_S.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Iping Supriana S - Sekretaris</h4>Prof.Dr.Ing. Ir. Iping Supriana Suwardi adalah Guru Besar Sekolah Teknik Elektro dan Informatikan Institut Teknologi Bandung (STEI ITB). Ia menyelesaikan S1 di ITB Jurusan Teknik Perminyakan, dilanjutkan S2 dan S3 Informatika di Perancis. Selain bergelut dalam perancangan dan pengembangan perangkat lunak sebagai individu maupun tim, ia juga kerap menjadi pembicara dalam berbagai seminar IT, aktif sebagai peneliti maupun sebagai anggota tim penilai penelitian.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/komunikasi_I_Wayan_Simri_Wicaksana.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">I Wayan Simri Wicaksana - Anggota</h4>Prof. Dr. I Wayan Simri Wicaksana, S.Si., M.Eng. adalah Guru Besar Teknologi Informasi Universitas Gunadarma. Ia menamatkan studi sarjana di jurusan Fisika, Fakultas Matematika dan Ilmu Pengetahuan Alam Universitas Indonesia. Kemudian ia menyelesaikan studinya dan mendapatkan gelar master dari Swinbure University of Technology, Australia. Ia mendapatkan dua gelar doktor dari Unversitas Gunadarma (2006) dan Universite de Bourgogne, Perancis (2007). Ia juga aktif di beberapa organisasi seperti, anggota Ikatan Profesi Komputer Indonesia (IPKIN). Sekarang, Ia adalah Direktur Pusat Studi Sistem Informasi.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/komunikasi_Jazi_Eko_Istiyanto.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Jazi Eko Istiyanto - Anggota</h4>Prof. Jazi Eko Istiyanto, M.Sc., Ph.D. adalah Guru Besar dalam bidang Ilmu Elektronika dan Instrumentasi Universitas Gadjah Mada. Ia memperoleh gelar sarjana ilmu fisika dari Universitas Gadjah Mada. Kemudian ia melanjutkan studi di Inggris dan memperoleh Postgraduate Diploma in Computer Programming and Microprocessor Applications (1987),  Master of Science in Computer Science (1988), dan Philosophy Doctoral in  Electronic Systems Engineering  (1995), dari University of Essex. Pada 2014, ia dilantik sebagai Kepala Badan Pengawas Tenaga Nuklir.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/komunikasi_M_Zarlis.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">M Zarlis - Anggota</h4>Prof. Dr. Muhammad Zarlis, M.Sc. adalah Guru Besar Teknik Informatika Universitas Sumatra Utara. Ia menamatkan pendidikan sarjana dari Universitas Sumatra Utara. Ia melanjutkan studi dan mendapatkan gelar Master of Science dari Universitas Indonesia dan mendapatkan gelar doktor dari USM Indonesia. Ia aktif sebagai pengajar, peneliti, dan pembicara berbagai seminar.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>