<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Industri  Maritim</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/maritim_Indra_Jaya.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Indra Jaya - Kabid Industri  Maritim</h4>Prof. Dr. Ir. Indra Jaya, M.Sc. adalah Guru Besar  Ilmu dan Teknologi Kelautan, FPIK, IPB.  Ia lulus sarjana perikanan IPB tahun 1984. Mendapatkan gelar doktor pada tahun 1996 ddari Graduate School of Marine Studies University of Delaware, USA. Ia pernah menjabat sebagai Tenaga Ahli Komisi IV DPR-RI bidang Kelautan dan Perikanan 2006-2008. Ia juga menjadi anggota asesor BAN-PT sejak 2004. Keanggotaan profesi: IEEE Oceanic Engineering, and Instrumentation and Measurement, Ikatan Sarjana Oseanografi Indonesia (ISOI), dan Ikatan Sarjana Perikanan Indonesia (ISPIKANI). Ia adalah Dekan Fakultas Perikanan dan Ilmu Kelautan IPB, periode 2007-2011.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/maritim_Daniel_M_Rosyid.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Daniel M. Rosyid - Wakil Ketua</h4>Prof. Dr. Ir. Prof. Daniel M. Rosyid, Ph.D. adalah Guru Besar  Riset Operasi dan Optimasi Jurusan Teknik Kelautan ITS. Surabaya. Ia menamatkan pendidikan sarjana di Institut Teknologi Sepuluh November Surabaya (ITS). Ia juga berpengalaman dalam pembangunan kapal perang saat bekerja sebagai Inspektur Mutu Lumbung Baja, Divisi Kapal Perang PT. PAL Indonesia. Sesudah itu, ia melanjutkan studi di University of Newcastle upon Tyne dan mendapatkan gelar doktornya. Hingga saat ini ia aktif dalam beberapa organisasi profesi dan mengelola beberapa perusahaan.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/maritim_Jamaluddin_Jompa.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Jamaluddin Jompa - Sekretaris</h4>Prof Dr. Ir. Jamaluddin Jompa, M.Sc. adalah Guru Besar Fakultas Ilmu Kelautan dan Perikanan Universitas Hasanuddin. Ia menjabat sebagai Dekan Fakultas Ilmu Kelautan dan Perikanan sejak 2013 hingga sekarang. Ia mendapatkan gelar sarjana (S1) dari jurusan perikanan Unhas pada 1989, kemudian melanjutkan jenjang pendidikannya di McMaster University Canada bidang Marine Biology. Pada 1996 beliau akhirnya meraih gelar master dan pada 2001, ia berhasil memperoleh doktor dari James Cook University. Ia aktif dalam bidang penelitian dan beberapa organisasi profesi.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>