<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Pembangunan Prasarana</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/prasarana_Suryo_Hapsoro.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Suryo Hapsoro - Kabid Pembangunan Prasarana</h4>Prof. Dr. Ir. Suryo Hapsoro Tri Utomo adalah Guru Besar Teknik Sipil Universitas Gadjah Mada Yogyakarta. Selain itu, ia adalah Pemimpin Direktorat Penelitian dan Pengabdian kepada Masyarakat ketujuh dari Direktorat Jenderal Pendidikan Tinggi. Ia mendapatkan gelar sarjana dari jurusan Teknik Sipil Universitas Gadjah Mada dan akhirnya mendapatkan gelar doktoral bidang teknik sipil dari Newcastle University.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/prasarana_Sofia_W_Alisjahbana.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Sofia W. Alisjahbana - Wakil Ketua</h4>Prof. Ir. Sofia W. Alisjahbana M.Sc., Ph.D adalah Guru Besar Teknik Sipil Universitas Tarumanegara. Ia adalah Rektor Universitas Bakrie sejak tahun 2010. Ia menyelesaikan pendidikan sarjana di Institut Teknologi Bandung, jurusan Teknik Sipil. Kemudian, ia melanjutkan studi di University of Wisconsin-Madison, USA dan memperoleh gelar Master of Science (1988) dan Doctor of Philosophy (1992). Ia pernah menjabat sebagai Research and Development Manager PT Wiratman and Associates (1993-1995) dan menjadi Senior Assessor Badan Akreditasi Nasional Pendidikan Tinggi sejak 2001.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/prasarana_Sigit_P_Hadiwardoyo.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Sigit P. Hadiwardoyo - Sekretaris</h4>Prof. Dr. Ir. Sigit Pranowo Hadiwardoyo adalah Guru Besar Teknik SIpil Universitas Indonesia. Ia memiliki kepakaran dalam bidang Ilmu Transportasi. Ia adalah peneliti pada Laboratorium Struktur dan Material FTUI untuk bidang kajian Jalan Raya dan Jalan Rel. Ia lulus dari Universitas Indonesia tahun 1985 dan melanjutkan pendidikan di Ecole Nationale des Travaux Public de l’Etat (FRANCE), Certificate d’Etudes Superieures, Economie des Transports, selesai pada 1988. Kemudian ia melanjutkan program magister ke Ecole Centrale de Lyon (FRANCE), Diplome Etude Approndise, Mecanique des Sols, lulus pada tahun 1989. Program doktoralnya ditempuh pada tahun 1999-2002 di Ecole Centrale Paris (FRANCE), dan memperoleh Diplome de Docteur, Materiaux des Routiers.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/prasarana_Ofyar_Z_Tamin.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Ofyar Z. Tamin - Anggota</h4>Prof. Dr. Ir. Ofyar Zainuddin Tamin, M.Sc. (Eng) adalah  Guru Besar Teknik Sipil Institut Teknologi Bandung (ITB) dengan keahlian Ilmu Transportasi. Ia sempat menempuh Program Diploma Bidang Rekayasa Jalan Raya ITB dan lulus pada tahun 1984 dengan predikat cumlaude. Ia menyelesaikan program master (1984-1985) dan doktoral (1985-1988) pada bidang <i>Transport Planning and Modelling</i>, Imperial College-University College London, University of London, UK. Ia aktif dalam menyumbangkan pemikirannya seperti konsep pengembangan sistem transportasi untuk mendukung program Masterplan Percepatan Pembangunan Ekonomi Indonesia (MP3EI). Ia juga beberapa kali mendapatkan penghargaan YOKOHAMA PRIZE untuk makalah terbaik pada <i>The 5th World Conference on Transport Research</i> (WCTR), Yokohama (1989); dan HPJI GOLD MEDAL AWARD dari Himpunan Pengembangan Jalan Indonesia (HPJI), Indonesia (2007).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/prasarana_Priyo_Sulistyo.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Priyo Sulistyo - Anggota</h4>Prof. Ir. Henricus Priyo Sulistyo, M.Sc., Ph.D adalah Guru Besar Teknik Sipil Universitas Gadjah Mada.  Pada tahun 2011, ia tergabung dalam tim investigasi runtuhnya Jembatan Kutai Kertanegara. Ia menamatkan pendidikan sarjana di Universitas Gadjah Mada. Berikutnya, ia melanjutkan studinya dan mendapatkan gelar <i>Master of Science</i> dan <i>Doctor of Philosophy</i> dari University of Strathclyde, Inggris.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/prasarana_Titien_Saraswati.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Titien Saraswati - Anggota</h4>Prof. Ir. Titien Saraswati, M.Arch., Ph.D. adalah Guru Besar Arsitektur, Universitas Kristen Duta Wacana, Yogyakarta. Ia menyelesaikan studi sarjana di jurusan Teknik Arsitektur Universitas Gadjah Mada. Kemudian ia mendapatkan gelar <i>Master of Architecture</i> dari Colorado Uniersity, USA dan gelar doktor dari Melbourne University, Australia.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>