<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4>Dewan Pengurus</h4>

			<table>
				<tr>
					<td style="min-width: 100px;"><strong>Kabid Pembangunan Prasarana</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Suryo Hapsoro</td>
				</tr>
				<tr>
					<td><strong>Wakil Ketua</strong></td>
					<td>:</td>
					<td>Sofia W. Alisyahbana</td>
				</tr>
				<tr>
					<td><strong>Sekretaris</strong></td>
					<td>:</td>
					<td>Sigit P. Hadiwardoyo</td>
				</tr>
				<tr>
					<td style="vertical-align:top;"><strong>Anggota</strong></td>
					<td style="vertical-align:top;">:</td>
					<td>
						Ofyar Z. Tam in<br>
						Priyo Sulistyo<br>
						Titien Saraswati<br>
					</td>
				</tr>
			</table>
	    </div>
    </div>
</div>