<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Ekonomi dan Keuangan</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/ekonomi_Didin_S_Damanhuri.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Didin S. Damanhuri - Kabid Ekonomi dan Keuangan</h4>Prof. Dr. H. Didin S. Damanhuri, S.E., M.S., DEA adalah Guru Besar Fakultas Ekonomi dan Manajemen Institut Pertanian Bogor. Ia mendapatkan gelar sarjana ekonomi dari Universitas Padjajaran (1979) dan Magister Sains dari Institut Pertanian Bogor (1984). Ia juga mendapatkan gelar Master/DEA (Diplome d’Etude Approfodie) in Development Economics, IREPD, France pada 1988. Tahun 1993, ia mendapatkan gelar PhD (Docteur Nouveau) in Political Economics, Institut de Recherche Economique du Developpement (IREPD) Universite Pierre Mendes-France. Ia pernah dua kali menjabat sebagai Staf Ahli Menteri, yaitu Staf Ahli Menteri Transmigrasi dan Kependudukan (2000-2001) dan Menteri Nakertrans/Ketua Pembenahan TKI dan Ketua Interdep Pembenahan TKI (2004-2006).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/ekonomi_Edi_Suandi_Hamid.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Edi Suandi Hamid - Wakil Ketua</h4>Prof. Dr. H. Edy Suandi Hamid, M.Ec. adalah Guru Besar Ilmu Ekonomi pada Fakultas Ekonomi Universitas Islam Indonesia. Ia menjabat Rektor UII dua periode 2006-2010 dan 2010-2014. Ia mengenyam pendidikan sarjana di Fakultas Ekonomi Universitas Gadjah Mada, master di Faculty of Economics Thammasat University, Thailand dan Doktor di Universitas Gadjah Mada. Ia pernah menjadi anggota Komisi Khusus Kajian Staf Ekonomi Pancasila Dirjen Dikti Kemdikbud, Ketua Bidang Penelitian dan Publikasi Ilmiah Pengurus Pusat Ikatan Sarjana Ekonomi Indonesia (ISEI, 2000-2004).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/ekonomi_Noer_Azam_Achsani.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Iping Supriana S - Sekretaris</h4>Prof. Noer Azam Achsani adalah Guru Besar Ilmu Ekonomi Institut Pertanian Bogor. Ia menempuh pendidikan sarjana di jurusan statistik, Fakultas Matematika dan Ilmu Pengetahuan Alam, Institut Pertanian Bogor.  Di situ pula ia mendapatkan gelar master tahun 1996. Kemudian ia mendapatkan gelar doktor dari University of Postdam, Jerman.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>