<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Pembangunan dan Penegakan Hukum</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/hukum_Jawahir_Thontowi.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Jawahir Thontowi - Kabid Pembangunan dan Penegakan Hukum</h4>Prof. Jawahir Thontowi S.H., PhD. adalah Guru Besar Antropologi Hukum Universitas Islam Indonesia. Ia menempuh pendidikan sarjananya di Fakultas Hukum Universitas Islam Indonesia. Pendidikan master dan doktoralnya, ia tempuh di University of Western Australia. Ia pernah menjadi Anggota Komisi Konstitusi pada 2003-2004. Ia pernah menjadi pembicara di Konferensi Hak Asasi Manusia Tingkat Internasional, Delegasi untuk Konferensi Nasional mengenai Pendidikan Hukum Klinis di Kamboja, dan menerima kehormatan untuk menjadi Instruktur di Simposium Internasional Mengenai Resolusi Konflik—ICMCR, di Erasmus University.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/hukum_Tan_Kamello.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Tan Kamello - Wakil Ketua</h4>Prof. Dr. Tan Kamel, S.H., M.S., adalah Guru Besar bidang Hukum Keperdataan Fakultas Hukum Universitas Sumatra Utara. Ia menempuh pendidikan sarjana di Fakultas Hukum Universitas Sumatra Utara. Ia melanjutkan studi S-2 dan mendapatkan gelar master dari Universitas Gadjah Mada. Gelar doktor didapatnya dari Universitas Sumatra Utara.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/hukum_Adi_Sulistiyono.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Adi Sulistiyono - Sekretaris</h4>Prof. Dr. Adi Sulistiyono, S.H., M.H. adalah Guru Besar bidang Hukum Ekonomi Universitas Sebelas Maret Surakarta. Ia menempuh pendidikan sarjana di Fakultas Hukum Universitas Diponegoro (1987). Ia melanjutkan studi S-2 di Magister Hukum Ekonomi Universitas Indonesia (1994) dan mendapatkan gelar Doktor Ilmu Hukum dari Universitas Diponegoro tahun 2002. Ia adalah Dekan Fakultas Hukum UNS periode 2002-2007. Ia aktif dalam beberapa jabatan, seperti Assesor BAN untuk Program Studi Ilmu Hukum (S1), Program Pascasarjana Ilmu Hukum (S2), dan Program Doktor Ilmu Hukum (S3) Seluruh Indonesia dan Asesor BAN untuk Akreditasi Institusi (2003 -Sekarang).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"></td>
					<td class="padding-r"><h4 class="nomargin-t">Ade Saptomo - Anggota</h4></td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/hukum_Amir_Mualim.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Amir Mu&rsquo;alim - Anggota</h4>Prof. Dr. Amir Mu’alim, M.I.S. adalah Guru Besar Fakultas Ilmu Agama Islam Universitas Islam Indonesia, Yogyakarta. Ia mendapatkan gelar sarjana muda Fakultas Syariah UII Yogyakarta (1977) dan mendapatkan gelar sarjana lengkap di Fakultas Syariah IAIN Sunan Kalijaga, Yogyakarta (1982). Lalu ia melanjutkan studi S-2 di Fakulti Pengajian Islam, Universiti Kebangsaan Malaysia dan lulus tahun 1990. Ia mendapatkan gelar doktor untuk studi islam dari UIN Sunan Kalijaga pada (2003). Selain sebagai pengajar, ia juga aktif di beberapa jabatan, seperti Direktur Utama SInergi Muamalat Indonesia (2006-sekarang), Komisaris BPRS Madina Syariah (2007-sekarang), dan Pemeriksa Luar Studi Islam Program Magister, Universiti Malaya.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/hukum_Khudzaifah_Dimyanti.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Khudzaifah Dimyanti - Anggota</h4>Prof. Dr. H. Khudzaifah Dimyati, S.H., M.Hum. adalah Guru Besar Ilmu Hukum Universitas Muhammadiyah Surakarta. Ia menempuh pendidikan sarjana di Fakultas Hukum Universitas Islam Indonesia, Yogyakarta. Ia mendapatkan gelar masternya dari Universitas Diponegoro, Semarang. Pada 2003, ia mendapatkan gelar doktor Ilmu Hukum dari Universitas Diponegoro, Semarang. Ia pernah menjadi anggota tim assessor BAN-PT Departemen Pendidikan Nasional (2004-sekarang), anggota Dewan Pakar Dewan Ketahanan Nasional Lembaga Non-Departemen (2006-sekarang), dan aktif dalam organisasi profesi dan konsultan hukum.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/hukum_Lauddin_Marsuni.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Lauddin Marsuni - Anggota</h4>Prof. Dr. Lauddin Marsuni adalah Guru Besar Bidang Tata Negara Universitas Andi Djemma Palopo Sulawesi Selatan. Ia menempuh pendidikan sarjana di Fakultas Hukum Universitas Muslim Indonesia Makassar (1981). Kemudian ia mendapatkan gelar master dan doktoral dari Universitas Airlangga, Surabaya. Selain menjadi pengajar di UMI Makassar dan Universitas Andi Djemma Palopo, ia aktif sebagai Konsultan Ahli Penyusunan Rancangan Peraturan Daerah Pemerintah Kabupaten Bulukumba, Sidrap, Takalar, Barru, dan Pangkep.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>