<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Peningkatan Kemakmuran</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/kemakmuran_Suahasil_Nazara.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Suahasil Nazara - Kabid Peningkatan Kemakmuran</h4>Prof. Suashasil Nazara, S.E., M.Sc., Ph.D. merupakan Guru Besar bidang Ilmu Ekonomi Fakultas Ekonomi Universitas Indonesia. Pada 1994, ia meraih titel sarjana ekonomi dari Fakultas Ekonomi Universitas Indonesia. Pada 1997, gelar M.Sc. diperoleh dari Cornell University, Ithaca, New York, Amerika Serikat. Pada 2003, ia rampungkan studi doktoral dari University of Illinois at Urbana Champaign, Amerika Serikat. Pada 2008 di pemerintahan, ia menjadi Anggota Tim Asisten Menteri Keuangan untuk Desentralisasi Fiskal.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/kemakmuran_Bustanul_Arifin.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Bustanul Arifin - Wakil Ketua</h4>Prof. Dr. Bustanul Arifin adalah Guru Besar Ilmu Ekonomi Pertanian Universitas Lampung (Unila). Pada 1985, ia lulus sarjana Agribisnis, Fakultas Pertanian, Institut Pertanian Bogor. Selanjutnya ia menyelesaikan program master di University of Wisconsin-Madison, AS. Pada 1995, ia pun mendapatkan gelar Doctor of Philosophy dari universitas yang sama. Ia juga aktif sebagai peneliti, konsultan, dan tim ahli di beberapa institusi.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/kemakmuran_Eddy_Suratman.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Eddy Suratman - Sekretaris</h4>Prof. Dr Eddy Suratman, S.E., M.A. adalah Guru Besar Fakultas Ekonomi Universitas Tanjungpura. Bidang kepakarannya adalah Ekonomi Publik dan Pembangunan. Saat ini ia menjabat Dekan Fakultas Ekonomi periode 2014-2018.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>