<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Organisasi/Hub. Kelembagaan</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/lembaga_Fachriyan_H_Pasaribu.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Fachriyan H. Pasaribu - Kabid Organisasi/Hub. Kelembagaan</h4>Prof. Dr. Drh. Fachriyan H. Pasaribu adalah Guru Besar Ilmu Penyakit Hewan dan Kesehatan Masyarakat Veteriner Institut Pertanian Bogor. Ia adalah guru besar bidang kepakaran Manajemen dan Kesehatan Satwa Akuatik serta memiliki minat riset pada bidang Imunisasi Pasif pada Satwa Akuatik dan Penyakit Hewan Eksotik. Ia menyelesaikan pendidikan dokter hewannya di Institut Pertanian Bogor (1977) dan menyelesaikan program doktoralnya di Justus Liebig Universitat (1985).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/lembaga_E_Aminudin_Aziz.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">E. Aminudin Aziz - Wakil Ketua</h4>Prof. Dr. E. Aminudin Aziz, M.A. adalah Guru Besar Linguistik Universitas Pendidikan Indonesia. Ia menamatkan pendidikan sarjana pada program studi Pendidikan Bahasa Inggris, IKIP Bandung.  Ia melanjutkan pendidikannya dan mendapatkan gelar master dan doktor dari Monash University dalam bidang linguistik.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/lembaga_Tineke_Mandang.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Tineke Mandang - Sekretaris</h4>Prof. Dr. Ir. Tineke Mandang, M.S. adalah Guru Besar Ilmu Keteknikan Pertanian Institut Pertanian Bogor dengan bidang kajian Ketahanan Pangan. Ia mendapatkan gelar insinyur dan masternya dari Institute Pertanian Bogor. Lalu, ia mendapatkan gelar doktor dari Tokyo University of Agriculture and Technology, Jepang. Ia aktif sebagai kolaborator di Center for Research on Engineering Application in Tropical Agriculture (CREATA), Institut Pertanian Bogor dan aktif pula di International Society of Southeast Asian Agriculture.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>