<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Tata Kelola</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/tatakelola_Sidharta_Utama.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Sidharta Utama - Kabid Tata Kelola</h4>Prof. Sidharta Utama, Ph.D., CFA Adalah Guru Besar Fakultas Ekonomi Universitas Indonesia dalam bidang Akuntansi Keuangan, Keuangan Perusahaan, Investigasi dan Corporate Governance. Ia memperoleh gelar Sarjana Ekonomi dari jurusan Akuntansi FE UI (1987). Ia kemudian memperoleh gelar Master of Bussiness Administration dari Indiana University (1990) dan gelar Doctor of Philosophy bidang Akuntansi dari Texas A&M University (1996). Selain aktif dalam penelitian, Ia juga aktif dalam organisasi, seperti Dewan Standar Akuntansi Keuangan dan Ikatan Akuntan Indonesia.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/lembaga_E_Aminudin_Aziz.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Felix O. Soebagjo - Sekretaris</h4>Prof. Dr. Felix Oentoeng Soebagjo adalah Guru Besar Fakultas Hukum Universitas Indonesia. Ia meraih Master bidang hukum dari University of California School of Law (1980), serta Doktor bidang Hukum Universitas Gadjah Mada (2004). Saat ini aktif di beberapa organisasi, seperti Ketua Himpunan Konsultan Hukum Pasar Modal (2006-sekarang), Sekjen Badan Arbitrase Pasar Modal (BAMPI), dan Wakil Ketua Yayasan Pengkajian dan Penelitian Hukum Perseroan Terbatas dan Kenotariatan (2002-sekarang).</td>
				</tr>

			</table>
	    </div>
    </div>
</div>