<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Seni dan Budaya</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/seni_I_Wayan_Rai.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">I Wayan Rai - Kabid Seni dan Budaya</h4>Prof. Dr. I Wayan Rai, MA adalah Rektor Institut Senin Indonesia Denpasar selama dua periode (2004-2013). Ia mendapatkan gelar sarjana tahun 1980 dari Akademi Seni Tari Indonesia. Lalu ia mendapatkan gelar master dalam bidang etnomusikologi dari San Diego State University, California, USA (1983-1986). Ia pun mendapatkan gelar doktor dari University of Maryland Baltimore Country, Maryland, USA (1992—1996). Ia aktif sebagai komposer, penulis, peneliti, dan pengajar. Ia adalah Mantan Penasihat Menteri Pendidikan dan Kebudayaan Republik Indonesia (2013-2014). Ia juga pernah memegang posisi lain seperti Anggota SEAMEO-SPAFA (2006-2014) dan Kepala Lembaga Pendidikan Tinggi Indonesia.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/seni_Sardono_W_Kusumo.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Sardono W. Kusumo - Wakil Ketua</h4>Sardono Waluyo Kusumo adalah seorang penari, koreografer, dan sutradara film. Ia adalah salah seorang tokoh tari kontemporer Indonesia. Ia adalah seorang lulusan Anne Erdman Theatre of Dance New York, Amerika Serikat (1964-1965). Lalu ia menjadi Anggota Dewan Kesenian Jakarta (1968-1970). Ia menjabat sebagai Rektor Institut Kesenian Jakarta.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/seni_T_Slamet_Suparno.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">T. Slamet Suparno - Sekretaris</h4>Prof. Dr. T. Slamet Suparno, S.Kar., M.S.  adalah Guru Besar Jurusan Karawitan ISI Surakarta. Ia masuk Institut Seni Indonesia Surakarta pada tahun 1978 jurusan Seni Karawitan. Kemudian ia melanjutkan studinya dan mendapat gelar master dari Universitas Gadjah Mada dan doktor dari Universitas Airlangga. Ia pernah menjabat sebagai Pejabat Rektor ISI Surakarta tahun 2008—2009. Sejak 2013, ia adalah Ketua Senat ISI Surakarta.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/seni_Nanik_Sri_Prihatini.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Nanik Sri Prihatini - Anggota</h4>Prof. Dr. Nanik Sri Prihatini, S.Kar., M.Si. adalah Guru Besar Jurusan Tari ISI Surakarta. Ia aktif sebagai pengajar, penari, dan peneliti. Ia aktif meneliti seni pertunjukan rakyat.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/seni_Pandi_Made_Sukerta.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Pandi Made Sukerta - Anggota</h4>Prof. Dr. Pande Made Sukerta, S.Kar., M.Si. adalah Guru Besar Jurusan Karawitan ISI Surakarta. Ia banyak menciptakan karya seni bidang karawitan yang cukup memasyarakat di tingkat lokal, nasional, dan internasional. Ia juga aktif menampilkan komposisi karyanya dalam berbagai festival musik tradisional.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>