<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4 class="nomargin-t">Bidang Pembangunan Industri Kreatif</h4>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/ikrea_Marsudi_Wahyu_Kisworo.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Marsudi Wahyu Kisworo - Kabid Pembangunan Industri Kreatif</h4>Prof. Dr. Ir. Marsudi Wahyu Kisworo menyelesaikan studi sarjananya di Institut Teknologi Bandung Jurusan Teknik Elektro mengambil spesialisasi Teknik dan Sistem Komputer. Tahun 1989, ia melanjutkan studi master dan doktoral di Curtin University of Technology, Perth, Australia dengan sponsor dari Australian International Development Assistance (AIDAB). Ia adalah Rektor Perbanas Institute periode 2014-2018.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/ikrea_Eddy_Jusuf.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Eddy Jusuf - Wakil Ketua</h4>Prof. Dr. Ir. H. Eddy Yusuf, M.S. adalah Guru Besar Manajemen Universitas Pasundan dengan spesialisasi pengarahan di bidang Manajemen Pemasaran dan Studi Kelayakan Bisnis. Ia menempuh pendidikan sarjana dan mendapat gelar insinyur dari Universitas Pasundan. Ia melanjutkan pendidikan master dan doktor di Universitas Padjajaran. Saat ini, ia menjabat sebagai Rektor Universitas Pasundan.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/ikrea_Ina_Primiana.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t">Ina Primiana - Sekretaris</h4>Prof. Dr. Ina Primiana Syinar, S.E., M.T.  adalah Guru Besar Fakultas Ekonomi dan Bisnis Universitas Padjajaran dengan spesialisasi Manajemen Operasi dan Manajemen Mutu. Ia menyelesaikan pendidikan sarjana di jurusan manajemen Universitas Padjajaran. Lalu ia mendapatkan gelar master dari jurusan Teknik Manajemen Industri Institut Teknologi Bandung.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>