<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4>Dewan Pengurus</h4>

			<table>
				<tr>
					<td style="min-width: 100px;"><strong>Kabid ldeologi &amp; Budaya</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Azyumardi Azra</td>
				</tr>
				<tr>
					<td><strong>Wakil Ketua</strong></td>
					<td>:</td>
					<td>A. Agus Nugroho</td>
				</tr>
				<tr>
					<td><strong>Sekretaris</strong></td>
					<td>:</td>
					<td>M. Siroz</td>
				</tr>
				<tr>
					<td style="vertical-align:top;"><strong>Anggota</strong></td>
					<td style="vertical-align:top;">:</td>
					<td>
						Agus Sardjono<br>
						Gerrit Singgih<br>
					</td>
				</tr>
			</table>
	    </div>
    </div>
</div>