<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4>PERWAKILAN:</h4>

			<h5>Perwakilan Luar Negeri</h5>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Den_Haag_Belanda_Bambang_Hari_Wibisono.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Den Haag &frasl; Belanda<br>Bambang Hari Wibisono</h4>Prof. Ir. Bambang Hari Wibisono, M.U.P., M.Sc., Ph.D. adalah Guru Besar Teknik Arsitektur dan Perencanaan Fakultas Teknik Universitas Gadjah Mada. Ia memiliki minat penelitian dalam bidang Urban Design dan Urban Planning. Ia menamatkan pendidikan sarjana di Jurusan Arsitektur, Fakultas Teknik, UGM. Pada 1990, ia menamatkan pendidikan master bidang Transportation Engineering dari University of Wisconsin, Amerika Serikat. Gelar Doctor of Philosophy ia dapat dari University of Melbourne, Australia (2001).  Selain aktif sebagai pengajar, ia juga aktif di berbagai kegiatan profesi seperti menjadi Koordinator Tim Masterplan Kampus 2005-2015 untuk UGM (2002-2004), dan Assesor BAN-PT pada 2004 sampai sekarang. Sejak 2013, ia ditugaskan menjadi Atase Pendidikan dan Kebudayaan di Kedutaan Besar Republik Indonesia di Belanda.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/UNESCO_Carmadi_Machbub.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">UNESCO<br>Carmadi Machbub</h4>Prof. Dr. Ir. Carmadi Machbub adalah Guru Besar Institut Teknologi Bandung dengan bidang keilmuan Sistem Kendali & Komputer Sekolah Teknik Elektro dan Informatika Institut Teknologi Bandung.  Ia pernah menjabat sebagai Wakil Rektor Senior Bidang Sumberdaya ITB (2005-2010), Wakil Rektor Senior Bidang Akademik dan Kemahasiswaan ITB (2010-2015) dan Duta besar/Perwakilan Tetap RI untuk UNESCO (2011-2014).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/United_Kingdom_TB_A_Fauzi_Soelaman.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">United Kingdom<br>TB. A. Fauzi Soelaman</h4>Prof. Dr. Ir. H. TB. A. Fauzi Soelaman, M.S.M.E. adalah Guru Besar Institut Teknologi Bandung. Ia menamatkan studi di jurusan Teknik Mesin di Institut Teknologi Bandung, dengan piagam penghargaan atas prestasi akademik terbaik. Pada 1986-1988, ia menempuh pendidikan dan mendapatkan gelar Master of Science dari University of Minnesota, Amerika Serikat, dengan minor Computer and Information Sciences. Pada 1992, ia mendapatkan gelar Doctor of Philosophy dari universitas yang sama. Minat penelitian dan kompetensinya adalah Renewable Energy, Automotive Electronics, Energy Conversion Systems. Ia pernah menjabat sebagai Atase Pendidikan di Kedutaan Besar Republik Indonesia di London, Inggris (2010-2014). Saat ini ia adalah Duta Besar/Perwakilan Tetap RI untuk UNESCO.</td>
				</tr>

			</table>
	    </div>
    </div>
</div>