<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4>PERWAKILAN:</h4>

			<h5>Perwakilan Dalam Negeri</h5>

			<table class="api-table_so">
				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Aceh_Darusman.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Aceh<br>Darusman</h4>Prof. Dr. Ir. Darusman, M.Sc. adalah Guru Besar Ilmu Pertanian Universitas Syiah Kuala, Aceh. Kini ia menjabat sebagai Direktur Program Pascasarjana (PPs) Unsyiah periode 2014-2018. Sebelumnya ia menjabat sebagai Pembantu Rektor IV Universitas Syiah Kuala. Ia menyelesaikan pendidikan jenjang sarjana di Universitas Syiah Kuala (1986). Kemudian ia melanjutkan studi dan berhasil mendapatkan gelar M.Sc. dan Doktor dari Kansas State University, Amerika Serikat.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Sumatra_Utara_Sumono.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Sumatra Utara<br>Sumono</h4>Prof. Dr. Ir. Sumono, M.S. adalah Guru Besar Teknik Pertanian Universitas Sumatra Utara. Ia menamatkan pendidikan sarjana di Universitas Sumatra Utara. Kemudian ia melanjutkan studi dan mendapatkan gelar master (1981) dan doktor (1989) dari Institut Pertanian Bogor. Ia adalah Ketua Guru Besar Universitas Sumatra Utara sekaligus Ketua Umum Majelis Pengurus Wilayah Asosiasi Dosen Indonesia Sumatra Utara.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Sumatra_Barat_Helmi.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Sumatra Barat<br>Helmi</h4>Prof. Dr. Ir. Helmi, M.Sc. adalah Guru Besar Pembangunan Wilayah dan Pedesaan Universitas Andalas.  Ia pernah menjabat sebagai Wakil Rektor IV Universitas Andalas Bidang Perencanaan, Pengembangan, dan Kerjasama periode 2010-2013. Ia meraih gelar sarjana dari Universitas Andalas sementara gelar master diperoleh dari Ateneo De Manila University, Filipina dan gelar doktor diraih dari University Of London, United Kingdom.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Bangka_Belitung_Bustami_Rahman.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Bangka Belitung<br>Bustami Rahman</h4>Prof. Dr. Bustami Rahman, M.Sc. adalah Guru Besar Universitas Bangka Belitung. Ia menyelesaikan pendidikan sarjana Ilmu Sosial jurusan Sosiatri di FISIP Universitas Gadjah Mada. Kemudian ia mendapatkan gelar <i>Master of Science</i> bidang Keahlian <i>Rural Sociology, Faculty of Sociology</i>, UPM Malaysia (1986) dan mendapatkan gelar doktor dari Universitas Gadjah Mada (1996). Kini, ia sedang menjabat Rektor Universitas Bangka Belitung.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Jambi<br>Ulil Amri</h4>Prof. Dr. Ir. Ulil Amri, M.S. adalah Guru Besar Ilmu Peternakan Universitas Jambi. Ia menempuh pendidikan jenjang sarjana di Universitas Andalas. Kemudian ia menempuh pendidikan S-2 dan S-3 di Institut Pertanian Bogor.</td>
				</tr>

				<tr>
					<td style="width: 20%; border-bottom: none;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Sumatra_Selatan_Aflatun_Muchtar.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r" style="border-bottom: none;"><h4 class="nomargin-t" style="line-height: 1.5;">Sumatra Selatan<br>Aflatun Muchtar</h4>Prof. Dr. H. Aflatun Muchtar, M.A. adalah Guru Besar Tafsir Hadits UIN Raden Fatah Palembang. Saat ini ia menjabat Rektor UIN Raden Fatah Palembang. Gelas sarjana ia peroleh dari IAIN Raden Fatah Palembang sementara gelar master (1989) dan doktor (1996) diperoleh dari IAIN Syarif Hidayatullah Jakarta.</td>
				</tr>

				<tr>
					<td style="width: 20%; border-top: none;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Sumatra_Selatan_Slamet_Wdodo.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r" style="border-top: none;"><h4 class="nomargin-t" style="line-height: 1.5;">Slamet Wdodo</h4>Prof. Dr. Slamet Wdodo M.S., M.M. adalah Guru Besar Ilmu Administrasi Publik Universitas Sriwijaya. Ia menyelesaikan pendidikan sarjana di Universitas Gadjah Mada (1984). Kemudian ia melanjutkan studi master di Universitas Indonesia (1989) dan doktoral di Universitas Negeri Jakarta pada tahun 2008.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Lampung_Wan_Abbas_Zakaria.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Lampung<br>Wan Abbas Zakaria</h4>Prof. Dr. Ir. Wan Abbas Zakaria, M.S. adalah, Dekan Fakultas Pertanian Universitas Lampung. Ia menjabat selama dua periode (2007-2011 dan 2011—2015). Ia menamatkan pendidikan sarjana bidang Sosial Ekonomi Fakultas Pertanian Universitas Lampung. Ia melanjutkan S2 di IPB dengan beasiswa dari Dikti dan meraih gelar doktor ditempat yang sama dengan beasiswa dari Bank Dunia.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Banten<br>Palmawati Taher</h4>Prof. Dr. Palmawati Taher, M.A. adalah Guru Besar Ilmu Hukum Universitas Sultan Ageng Tirtayasa, Banten. </td>
				</tr>

				<tr>
					<td style="width: 20%; border-bottom: none;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Jawa_Barat_Aman_Wirakartakusumah.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r" style="border-bottom: none;"><h4 class="nomargin-t" style="line-height: 1.5;">Jawa Barat<br>Aman Wirakartakusumah</h4>Prof. Dr. M. Aman Wirakartakusumah, M.Sc. adalah Guru Besar Ilmu Pangan Institut Pertanian Bogor. Sejak 2013-sekarang, ia menjabat sebagai Rektor Universitas Siswa Bangsa Internasional. Gelar sarjana ia peroleh dari Institut Pertanian Bogor (1971), sementara gelas master dan doktor ia peroleh dari University of Winconsin,  Amerika Serikat. Ia pernah menjabat sebagi Rektor Institut Pertanian Bogor 1998-2002 dan Duta Besar/Perwakilan Tetap RI untuk UNESCO (2004-2008)</td>
				</tr>

				<tr>
					<td style="width: 20%; border-top: none;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Jawa_Barat_Ganjar_Kurnia.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r" style="border-top: none;"><h4 class="nomargin-t" style="line-height: 1.5;">Ganjar Kurnia</h4>Prof. Dr. Ir. Ganjar Kurnia, DEA adalah Guru Besar Sosiologi Pertanian Universitas Padjajaran.  Ia pernah menjabat sebagai Rektor Universitas Padjadjaran periode 2007—2015 dan sempat menjadi duta kebudayaan Indonesia di Kedutaan Besar Republik Indonesia di Perancis. Ia menyelesaikan pendidikan S-1 Fakultas Pertanian Universitas Padjajaran. Ia melanjutkan studi S-2 dan S-3 di Universitas Paris X Nanterre, Perancis, dalam bidang Sosiologi Pedesaan.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/DKI_Jakarta_Anna_Erliyana_Chandra.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">DKI Jakarta<br>Anna Erliyana Chandra</h4>Prof. Dr. Anna Erliyana Chandra, S.H., M.H. adalah Guru Besar Hukum Administrasi Negara Universitas Indonesia dalam bidang Hukum Acara Peradilan Tata Usaha Negara. Ia menyelesaikan program sarjana di Fakultas Hukum Universitas Indonesia. Kemudian ia melanjutkan studi Magister Ilmu Hukum (1998), dan gelar doktor diraihnya pada tahun 2004. Saat ini ia masih aktif di Yayasan Pengkajian Hukum Indonesia (YPHI). Dalam kepakarannya sering diminta sebagai saksi ahli baik di Pengadilan Tata Usaha Negara, Pengadilan Tindak Pidana Korupsi, Mahkamah Konstitusi, maupun di Pengadilan Umum.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Jawa_Tengah_Suntoro_Wongso_Atmojo.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Jawa Tengah<br>Suntoro Wongso Atmojo</h4>Prof. Dr. Ir. H. Suntoro Wongso Atmojo, M.S. adalah Guru Besar Ilmu Kesuburan Tanah Fakultas Pertanian Universitas Sebelas Maret Surakarta. Ia menempuh pendidikan sarjana di Fakultas Pertanian Universitas Gadjah Mada. Lalu ia melanjutkan studi masternya bidang Ilmu Kesuburan Tanah di Universitas Gadjah Mada. Tahun 2001, ia menyelesaikan program doktor bidang Ilmu-ilmu Pertanian di Universitas Brawijaya, Malang.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/DI_Yogyakarta_Sahid_Susanto.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">DI Yogyakarta<br>Sahid Susanto</h4>Prof. Dr Ir. Sahid Susanto, M.S. adalah Guru Besar Teknologi Pertanian Universitas Gadjah Mada. Ia menyelesaikan pendidikan sarjana di Fakultas Teknologi Pertanian Universitas Gadjah Mada (UGM) pada 1979. Kemudian ia meneruskan studi S-2 di Pascasarjana UGM pada bidang yang sama (1982-1986). Studi S-3 diselesaikan di Kyoto University, Jepang dengan spesialisasi <i>Tropical Hydrology</i> (1986-1991).</td>
				</tr>

				<tr>
					<td style="width: 20%; border-bottom: none;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Jawa_Timur_Wibisono_Hardjopranoto.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r" style="border-bottom: none;"><h4 class="nomargin-t" style="line-height: 1.5;">Jawa Timur<br>Wibisono Hardjopranoto</h4>Prof. Drs.ec. Wibisono Hardjopranoto, M.S. adalah Guru Besar Fakultas Ekonomi dan Bisnis Universitas Surabaya. Ia pernah menjabat Rektor Universitas Surabaya selama dua periode (2003-2007) dan (2007-2011).  Ia menempuh pendidikan S-1 di Universitas Surabaya (1979) dan menempuh pendidikan S-2 di Universitas Airlangga (1985).</td>
				</tr>

				<tr>
					<td style="width: 20%; border-top: none;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Jawa_Timur_Imam_Suprayogo.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r" style="border-top: none;"><h4 class="nomargin-t" style="line-height: 1.5;">Imam Suprayogo</h4>Prof. Dr. Imam Suprayogo adalah Guru Besar Fakultas Tarbiyah Universitas Islam Negeri (UIN) Maulana Malik Ibrahim, Malang. Saat ini ia menjabat sebagai anggota Dewan Pembina Yayasan Universitas Islam Malang (Unisma) periode 2015-2020 setelah sebelumnya menjabat Rektor Universitas Islam Negeri Malang selama tiga periode. Ia merupakan alumni fakultas Tarbiyah IAIN Sunan Ampel Malang yang berhasil meraih gelar doktornya dari Universitas Airlangga Surabaya (1998) dalam bidang sosiologi.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Kalimantan_Barat_Chairil_Effendy.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Kalimantan Barat<br>Chairil Effendy</h4>Prof. Dr. Chairil Effendy, M.S. adalah Guru Besar Ilmu Sastra Fakultas Keguruan dan Ilmu Pendidikan Universitas Tanjungpura. Ia pernah menjabat sebagai Rektor Universitas Tanjungpura periode 2007-2011. Saat ini ia menjadi Ketua Majelis Adat Budaya Melayu Kalimantan Barat.</td>
				</tr>

				<tr>
					<td style="width: 20%; border-bottom: none;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Kalimantan_Timur_Zamruddin_Hasid.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r" style="border-bottom: none;"><h4 class="nomargin-t" style="line-height: 1.5;">Kalimantan Timur<br>Zamruddin Hasid</h4>Prof. Dr. H. Zamruddin Hasid, S.E., S.U. adalah Guru Besar Ilmu Ekonomi Fakultas Ekonomi Universitas Mulawarman.  Ia menyelesaikan jenjang S-1 di Universitas Mulawarman dan menamatkan jenjang pendidikan S-2 di Universitas Gadjah Mada. Program doktoral ia tempuh di Universitas Mulawarman. Ia juga pernah menjabat sebagai Rektor Universitas Mulawarman peride 2010-2014.</td>
				</tr>

				<tr>
					<td style="width: 20%; border-top: none;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Kalimantan_Timur_B_D_A_S_Simarangkir.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r" style="border-top: none;"><h4 class="nomargin-t" style="line-height: 1.5;">B.D.A.S. Simarangkir</h4>Prof. Dr. Ir. B.D.A.S. Simarangkir, M.A. adalah Guru Besar Fakultas Kehutanan Universitas Mulawarman.  Ia menyelesaikan pendidikan sarjana di Universitas Mulawarman. Kemudian ia melanjutkan studinya dan meraih gelar master dari Gifu University, Jepang sementara gelar doktor ia peroleh dari Hokkaido University, Jepang.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Kalimantan_Tengah_Joni_Bungai.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Kalimantan Tengah<br>Joni Bungai</h4>Prof. Dr. Joni Bungai, M.Pd. adalah Guru Besar Universitas Palangka Raya dengan bidang keahlian Pendidikan Guru Sekolah Dasar. Ia menyelesaikan pendidikan sarjana di Universitas Palangkaraya sebelum mendapatkan gelar Doktor dari Universitas Negeri Malang tahun 2005.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Kalimantan_Selatan_Idianoor_Mahyudi.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Kalimantan Selatan<br>Idianoor Mahyudi</h4>Prof. Dr. Ir. Idianoor Mahyudi, M.Si. adalah Guru Besar Ilmu Perikanan Universitas Lambung Mangkurat. Ia menyelesaikan pendidikan sarjana di Universitas Lambung Mangkurat. Kemudian ia melanjutkan studinya dan mendapatkan gelar Master (1996) dan Doktor (2002) dari Universitas Gadjah Mada. Saat ia menjabat sebagai  Koordinator Kopertis Wilayah XI Kalimantan.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Sulawesi_Utara_Ruddy_Tenda.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Sulawesi Utara<br>Ruddy Tenda</h4>Prof. Dr. Ir. Ruddy Tenda, D.E.A. adalah Guru Besar Teknik Sipil Universitas Sam Ratulangi. Ia menyelesaikan jenjang pendidikan strata satu dan mendapatkan gelar Insinyur di Jurusan Teknik SIpil, Universitas Sam Ratulangi. Kemudian ia melanjutkan studinya di bidang Teknik Struktur dan mendapatkan gelar DEA dan Doktor dari Institut National des Science Appliquees de Toulouse, Perancis.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Sulawesi_Tengah_Muhammad_Basir_Cyio.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Sulawesi Tengah<br>Muhammad Basir Cyio</h4>Prof. Dr. Ir. Muhammad Basir Cyio, S.E., M.S. adalah Guru Besar bidang Kimia Tanah dan Kesuburan Tanah Fakultas Pertanian Universitas Tadulako, Sulawesi Tengah. Saat ini ia menjabat sebagai Rektor Universitas Tadulako setelah terpilih kembali untuk kedua kalinya. Ia pertama kali menjabat pada tahun 2011-2015 dan periode kedua tahun2015-2019.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Sulawesi_Tenggara_Mahmud_Hamundu.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Sulawesi Tenggara<br>Mahmud Hamundu</h4>Prof. Ir. H. Mahmud Hamundu, M.Sc. adalah Guru Besar bidang Fakultas Pertanian Universitas Haluleo, Kendari, Sulawesi Tenggara. Ia pernah menjabat sebagai Rektor Universitas Haluleo selama dua periode, yaitu tahun 2000-2004 dan 2004-2008. Ia menyelesaikan pendidikan sarjana dari Fakultas Pertanian Universitas Hasanuddin (1979). Pada 1985, ia mendapatkan gelar Master of Science dari University of The Philippines, Los Banos, Filipina.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Sulawesi_Selatan_Abdul_Razak_Thaha.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Sulawesi Selatan<br>Abdul Razak Thaha</h4>Prof. Dr. dr. Abdul Razak Thaha, M.Sc., Sp.G(K) adalah Guru Besar Ilmu Gizi Universitas Hasanuddin, Makassar. Ia menjabat sebagai Ketua Institut Gizi Indonesia. Ia menyelesaikan pendidikan dokternya di Universitas Hasanuddin. Ia melanjutkan pendidikan masternya di SEAMEO Tropical Medicine and Public Health (1986). Gelar doktor kesehatan masyarakat ia peroleh dari Universitas Indonesia (1995).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Gorontalo_Nelson_Pomalingo.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Gorontalo<br>Nelson Pomalingo</h4>Prof. Dr. Ir. Nelson Pomalingo, M.Pd. adalah Rektor Universitas Negeri Gorontalo periode 2002-2006 dan 2006-2010. Sekarang, Ia menjabat sebagai Bupati Kabupaten Gorontalo setelah memenangi Pilkada 2015. Ia menyelesaikan pendidikan sarjana di Fakultas Pertanian Universitas Sam Ratulangi Manado (1981), kemudian studi master dan doktoral diraih dari IKIP Negeri Jakarta. Ia pernah menjabat Ketua Presidium Nasional Pembentukan Provinsi Gorontalo. Setelah Gorontalo menjadi provinsi, ia ditunjuk sebagai Ketua Bappeda Provinsi Gorontalo.</td>
				</tr>

				<tr>
					<td style="width: 20%; border-bottom: none;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Bali_I_Nyoman_Rai.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r" style="border-bottom: none;"><h4 class="nomargin-t" style="line-height: 1.5;">Bali<br>I Nyoman Rai</h4>Prof. Dr. Ir. I Nyoman Rai, M.S. adalah Guru Besar Fakultas Pertanian Universitas Udayana dengan keahlian di bidang Hortikultura. Saat ini ia menjabat sebagai Dekan Fakultas Pertanian Universitas Udayana. Ia menyelesaikan jenjang sarjana di Universitas Udayana (1987). Kemudian ia melanjutkan studi dan mendapatkan gelar master (1993) dan doktor (2004) dari Institut Pertanian Bogor.</td>
				</tr>

				<tr>
					<td style="width: 20%; border-top: none;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Bali_Wayan_Supartha.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r" style="border-top: none;"><h4 class="nomargin-t" style="line-height: 1.5;">Wayan Supartha</h4>Prof. Dr. Ir. Wayan Supartha, M.S. adalah Guru Besar Fakultas Pertanian Universitas Udayana. Ia menyelesaikan pendidikan sarjana di Universitas Udayana. Kemudian ia melanjutkan studinya dan berhasil mendapatkan gelar MS (1991) dan Doktor (1998) dari Institut Pertanian Bogor.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/NTB_Mansur_Ma_shum.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">NTB<br>Mansur Ma&rsquo;shum</h4>Prof. Ir. Mansur Ma’shum, Ph.D. adalah Guru Besar Fakultas Pertanian Universitas Mataram. Ia pernah menjabat Rektor Universitas Mataram periode 2001-2009.  Ia memperoleh gelar Doktor dari University of Adelaide, Australia. Sebelumnya ia menempuh pendidikan sarjana dan mendapatkan gelar Insinyur dari Universitas Gadjah Mada. Tahun 1978, ia mendapatkan K.P. Barley Prize sebagai The Best Postgraduate Research. Sekarang ia menjabat sebagai Anggota BAN-PT 2012-2017.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/NTT_I_Gusti_Bagus_Arjana.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">NTT<br>I Gusti Bagus Arjana</h4>Prof. Dr. I Gusti Bagus Arjana, M. S. adalah Guru Besar bidang Keilmuan Geografi dan Sumber Daya Alam Fakultas Keguruan dan Ilmu Pendidikan Universitas Nusa Cendana. Ia menyelesaikan pendidikan sarjana di Universitas Nusa Cendana. Kemudian ia menyelesaikan pendidikan master di Universitas Gadjah Mada tahun 1990 dan pendidikan doktor di IKIP Jakarta tahun 1997.</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"><img src="{$basedomain}assets/img/struktur_organisasi/Maluku_Niette_V_Huliselan.jpg" class="img-responsive img-thumbnail" style="width: 100%;"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Maluku<br>Niette V. Huliselan</h4>Prof. Dr. Ir. Niette V. Huliselan, M.Sc. adalah Guru Besar Fakultas Perikanan dan Ilmu Kelautan Universitas Pattimura. Ia menyelesaikan pendidikan sarjana di Universitas Pattimura, mendapatkan gelar M.Sc. dari University of Newcastle Upon Tyne, United Kingdom pada Departement of Tropical Coastal Management (1991). Ia memperoleh gelar Ph.D. pada universitas yang sama di Department of Marine Sciences (1995).</td>
				</tr>

				<tr>
					<td style="width: 20%;" class="padding-all"></td>
					<td class="padding-r"><h4 class="nomargin-t" style="line-height: 1.5;">Jayapura</h4></td>
				</tr>

			</table>
	    </div>
    </div>
</div>