<div class="container api-content">
    <div class="row">
	    <div class="col-md-12 text-justify">
	        <h3>Struktur Organisasi Asosiasi Profesor Indonesia</h3>
	            
	        <p>Lampiran Keputusan Asosiasi Profesor Indonesia (API)<br>
			No : 203/API/Pengurus Pusat/11.13<br>
			Tanggal : 10 November 2013<br>
			Tentang: Pembentukan Pengurus Pusat API 2013-2017</p><br>

			<h4>PERWAKILAN:</h4>

			<h5>Perwakilan Dalam Negeri</h5>

			<table>
				<tr>
					<td style="min-width: 30px;">1.</td>
					<td style="min-width: 100px;"><strong>Aceh</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Darusman</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">2.</td>
					<td style="min-width: 100px;"><strong>Sumatera Utara</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Sumono</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">3.</td>
					<td style="min-width: 100px;"><strong>Sumatera Barat</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Helmi</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">4.</td>
					<td style="min-width: 100px;"><strong>Bangka &amp; Belitung</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Bustami Rahman</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">5.</td>
					<td style="min-width: 100px;"><strong>Bengkulu</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Zainal Muktamar</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">6.</td>
					<td style="min-width: 100px;"><strong>Riau</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Felix Feliatra</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">7.</td>
					<td style="min-width: 100px;"><strong>Jambi</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Ulii Amri</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">8.</td>
					<td style="min-width: 100px;"><strong>Sumatra Selatan</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Aflatun Muchtar, Slamet Widodo</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">9.</td>
					<td style="min-width: 100px;"><strong>Lampung</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Wan Abbas Zakaria</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">10.</td>
					<td style="min-width: 100px;"><strong>Banten</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Palmawati Taher</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">11.</td>
					<td style="min-width: 100px;"><strong>Jawa Barat</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>M. Aman Wirakartakusumah, Ganjar Kurnia</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">12.</td>
					<td style="min-width: 100px;"><strong>DKI Jakarta</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Anna Erliyana Chandra</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">13.</td>
					<td style="min-width: 100px;"><strong>Jawa Tengah</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Eko Budihardjo, Suntoro Wongso Atmojo</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">14.</td>
					<td style="min-width: 100px;"><strong>Dl Yogyakarta</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Sahid Susanto</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">15.</td>
					<td style="min-width: 100px;"><strong>Jawa Timur</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Wibisono Hardjopranoto, Imam Suprayogo</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">16.</td>
					<td style="min-width: 100px;"><strong>Kalimantan Barat</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Chairil Effendi</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">17.</td>
					<td style="min-width: 100px;"><strong>Kalimantan Timur</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Zamruddin Hasid, B.D.A.S. Simarangkir</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">18.</td>
					<td style="min-width: 100px;"><strong>Kalimantan Tengah</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Joni Bungai</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">19.</td>
					<td style="min-width: 100px;"><strong>Kalimantan Selatan</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>ldianoor</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">20.</td>
					<td style="min-width: 100px;"><strong>Sulawesi Utara</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Ruddy Tenda</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">21.</td>
					<td style="min-width: 100px;"><strong>Sulawesi Tengah</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Muh. Basir Cyio</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">22.</td>
					<td style="min-width: 100px;"><strong>Sulawesi Tenggara</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Mahmud Hamundu</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">23.</td>
					<td style="min-width: 100px;"><strong>Sulawesi Selatan</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Abdul Razak Thaha</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">24.</td>
					<td style="min-width: 100px;"><strong>Gorontalo</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Nelson Pomalingo</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">25.</td>
					<td style="min-width: 100px;"><strong>Bali</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>I Nyoman Rai, Wayan Supartha</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">26.</td>
					<td style="min-width: 100px;"><strong>NTB</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Mansur Ma'shum</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">27.</td>
					<td style="min-width: 100px;"><strong>NTI</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>I Gusti Bagus Arjana</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">28.</td>
					<td style="min-width: 100px;"><strong>Maluku</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>Niette V. Huliselan</td>
				</tr>
				<tr>
					<td style="min-width: 30px;">29.</td>
					<td style="min-width: 100px;"><strong>Jayapura</strong></td>
					<td style="min-width: 10px;">:</td>
					<td>KareiSesa</td>
				</tr>
			</table>
	    </div>
    </div>
</div>