<div class="container api-content">

    <div id="api-registerContainer">
        
        <div class="text-left">
        <!-- STEP WIZARD -->
        <div class="wizard">
            <a><span class="badge">1</span> Akun API</a>
            <a><span class="badge">2</span> Identitas Lengkap</a>
            <a><span class="badge">3</span> Riwayat</a>
            <a class="current"><span class="badge">4</span> Persetujuan</a>
        </div>
        </div>
        
        <div id="api-register">
    		<h3>Persetujuan</h3>
    
    		<form id="register-form" action="" class="form" method="post">
                
                <div class="form-group">
    				<label for="register-keunggulan">Form Persetujuan</label>
    				<input type="file" class="form-control" id="exampleInputFile">
    			</div>
    
    			<div class="form-group">
    				<button type="submit" id="register-btn" class="btn btn-primary btn-block">Selesai &nbsp; <i class="fa fa-play-circle"></i></button>
    
    			</div>
    		</form>
        </div> <!-- /#login -->
    
    </div>
    
</div>