<div class="container api-content">

    <div id="api-registerContainer">
        
        <div class="text-left">
        <!-- STEP WIZARD -->
        <div class="wizard">
            <a><span class="badge">1</span> Akun API</a>
            <a><span class="badge">2</span> Identitas Lengkap</a>
            <a class="current"><span class="badge">3</span> Riwayat</a>
            <a><span class="badge">4</span> Keberhasilan</a>
        </div>
        </div>
        
        <div class="stepReg">
    		<h3>Mata Kuliah yang Diampu</h3>
    
    		<form id="register-form" action="" class="form" method="post">
              <div class="row"> 
                <div class="form-group col-md-3">
    				<label>Tahun</label>
    				<input type="text" class="form-control" placeholder="Tahun" name="matkulTahun" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Tahun" name="matkulTahun" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Tahun" name="matkulTahun" style="margin-bottom: 10px;">
    			</div>
                
                <div class="form-group col-md-5">
    				<label>Nama Mata Kuliah</label>
    				<input type="text" class="form-control" placeholder="Nama Mata Kuliah" name="matkulNama" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Nama Mata Kuliah" name="matkulNama" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Nama Mata Kuliah" name="matkulNama" style="margin-bottom: 10px;">
    			</div>
                <div class="form-group col-md-4">
    				<label>Keterangan</label>
    				<input type="text" class="form-control" placeholder="Keterangan" name="matkulKeterangan" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Keterangan" name="matkulKeterangan" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Keterangan" name="matkulKeterangan" style="margin-bottom: 10px;">
    			</div>
               </div>
             </div> <!-- /#login -->
          </form>   
             
             <div class="stepReg">
    		<h3>Publikasi (Penelitian/Buku/Artikel/Karya Seni/Paten)</h3>
    
  		  <form id="register-form2" action="" class="form" method="post">
              <div class="row"> 
                <div class="form-group col-md-3">
    				<label>Tahun</label>
    				<input type="text" class="form-control" placeholder="Tahun" name="publikasiTahun" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Tahun" name="publikasiTahun" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Tahun" name="publikasiTahun" style="margin-bottom: 10px;">
    			</div>
                
                <div class="form-group col-md-5">
    				<label>Judul</label>
    				<input type="text" class="form-control" placeholder="Judul" name="publikasiJudul" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Judul" name="publikasiJudul" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Judul" name="publikasiJudul" style="margin-bottom: 10px;">
    			</div>
                <div class="form-group col-md-4">
    				<label>Keterangan</label>
    				<input type="text" class="form-control" placeholder="Keterangan" name="publikasiKeterangan" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Keterangan" name="publikasiKeterangan" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Keterangan" name="publikasiKeterangan" style="margin-bottom: 10px;">
    			</div>
               </div>
             </div> <!-- /#login -->  
             </form>
             
             <div class="stepReg">
    		<h3>Riwayat Pekerjaan (Lima Tahun Terakhir)</h3>
    
  		  <form id="register-form3" action="" class="form" method="post">
              <div class="row"> 
                <div class="form-group col-md-3">
    				<label>Tahun</label>
    				<input type="text" class="form-control" placeholder="Tahun" name="pekerjaanTahun" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Tahun" name="pekerjaanTahun" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Tahun" name="pekerjaanTahun" style="margin-bottom: 10px;">
    			</div>
                
                <div class="form-group col-md-5">
    				<label>Institusi</label>
    				<input type="text" class="form-control" placeholder="Institusi" name="pekerjaanInstitusi" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Institusi" name="pekerjaanInstitusi" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Institusi" name="pekerjaanInstitusi" style="margin-bottom: 10px;">
    			</div>
                <div class="form-group col-md-4">
    				<label>Jabatan</label>
    				<input type="text" class="form-control" placeholder="Jabatan" name="pekerjaanJabatan" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Jabatan" name="pekerjaanJabatan" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Jabatan" name="pekerjaanJabatan" style="margin-bottom: 10px;">
    			</div>
               </div>
             </div> <!-- /#login -->                         
                                                    
               <div class="row"> 
    			<div class="form-group">
    				<div class="col-md-6">
                        <button type="submit" id="register-btn" class="btn btn-primary btn-block">Kembali &nbsp; <i class="fa fa-play-circle"></i></button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" id="register-btn" class="btn btn-primary btn-block">Lanjut &nbsp; <i class="fa fa-play-circle"></i></button>
                    </div>
                    <div class="clearfix"></div>
    			</div>
               </div>
    		</form>
       
    
    </div>
    
</div>