<div class="container api-content">

    <div id="api-registerContainer">
        
        <div class="text-left">
        <!-- STEP WIZARD -->
        <div class="wizard">{*}
            <a><span class="badge">1</span> Akun API</a>
            <a><span class="badge">2</span> Identitas Lengkap</a>
            <a><span class="badge">3</span> Riwayat</a>
            <a class="current"><span class="badge">4</span> Persetujuan</a>
            {/*}
        </div>
        </div>
        
        <div id="api-register">
    		<h3 class="text-center">Sukses Register</h3>
    
    		<form id="register-form" action="" class="form" method="post" enctype="multipart/form-data">
                
                <div class="form-group" align="center">
    				<label for="register-keunggulan">Silahkan verifikasi email anda untuk aktifasi account</label>
    			</div>
    
    			
    		</form>
        </div> <!-- /#login -->
    
    </div>
    
</div>