<div class="container api-content">

    <div id="api-registerContainer">
        
        <div class="text-left">
        <!-- STEP WIZARD -->
        <div class="wizard">
            <a><span class="badge">1</span> Akun API</a>
            <a><span class="badge">2</span> Identitas Lengkap</a>
            <a class="current"><span class="badge">3</span> Riwayat</a>
            <a><span class="badge">4</span> Persetujuan</a>
        </div>
        </div>
        
        <div class="stepReg">
    		<h3>Mata Kuliah yang Diampu</h3>
    
    		<form id="register-form" action="" class="form" method="post">
              <div class="row"> 
                <div class="form-group col-md-3">
    				<label>Tahun</label>
    				<input type="text" class="form-control" placeholder="Tahun" name="tahun_1[]" style="margin-bottom: 10px;" onkeypress="validateNumber(this)" maxlength="4">
                    <input type="text" class="form-control" placeholder="Tahun" name="tahun_1[]" style="margin-bottom: 10px;" onkeypress="validateNumber(this)" maxlength="4">
                    <input type="text" class="form-control" placeholder="Tahun" name="tahun_1[]" style="margin-bottom: 10px;" onkeypress="validateNumber(this)" maxlength="4">
    			</div>
                
                <div class="form-group col-md-5">
    				<label>Nama Mata Kuliah</label>
    				<input type="text" class="form-control" placeholder="Nama Mata Kuliah" name="judul_1[]" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Nama Mata Kuliah" name="judul_1[]" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Nama Mata Kuliah" name="judul_1[]" style="margin-bottom: 10px;">
    			</div>
                <div class="form-group col-md-4">
    				<label>Keterangan</label>
    				<input type="text" class="form-control" placeholder="Keterangan" name="keterangan_1[]" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Keterangan" name="keterangan_1[]" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Keterangan" name="keterangan_1[]" style="margin-bottom: 10px;">
    			</div>
               </div>
             </div> <!-- /#login -->
           
             
             <div class="stepReg">
    		<h3>Publikasi (Penelitian/Buku/Artikel/Karya Seni/Paten)</h3>
    
  		  
              <div class="row" style="padding: 0 25px;"> 
                <div class="form-group col-md-3">
    				<label>Tahun</label>
    				<input type="text" class="form-control" placeholder="Tahun" name="tahun_2[]" style="margin-bottom: 10px;" onkeypress="validateNumber(this)" maxlength="4">
                    <input type="text" class="form-control" placeholder="Tahun" name="tahun_2[]" style="margin-bottom: 10px;" onkeypress="validateNumber(this)" maxlength="4">
                    <input type="text" class="form-control" placeholder="Tahun" name="tahun_2[]" style="margin-bottom: 10px;" onkeypress="validateNumber(this)" maxlength="4">
    			</div>
                
                <div class="form-group col-md-5">
    				<label>Judul</label>
    				<input type="text" class="form-control" placeholder="Judul" name="judul_2[]" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Judul" name="judul_2[]" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Judul" name="judul_2[]" style="margin-bottom: 10px;">
    			</div>
                <div class="form-group col-md-4">
    				<label>Keterangan</label>
    				<input type="text" class="form-control" placeholder="Keterangan" name="keterangan_2[]" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Keterangan" name="keterangan_2[]" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Keterangan" name="keterangan_2[]" style="margin-bottom: 10px;">
    			</div>
               </div>
             </div> <!-- /#login -->  
            
             
             <div class="stepReg">
    		<h3>Riwayat Pekerjaan (Lima Tahun Terakhir)</h3>
    
  		  
              <div class="row" style="padding: 0 25px;"> 
                <div class="form-group col-md-3">
    				<label>Tahun</label>
    				<input type="text" class="form-control" placeholder="Tahun" name="tahun_3[]" style="margin-bottom: 10px;" onkeypress="validateNumber(this)" maxlength="4">
                    <input type="text" class="form-control" placeholder="Tahun" name="tahun_3[]" style="margin-bottom: 10px;" onkeypress="validateNumber(this)" maxlength="4">
                    <input type="text" class="form-control" placeholder="Tahun" name="tahun_3[]" style="margin-bottom: 10px;" onkeypress="validateNumber(this)" maxlength="4">
    			</div>
                
                <div class="form-group col-md-5">
    				<label>Institusi</label>
    				<input type="text" class="form-control" placeholder="Institusi" name="judul_3[]" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Institusi" name="judul_3[]" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Institusi" name="judul_3[]" style="margin-bottom: 10px;">
    			</div>
                <div class="form-group col-md-4">
    				<label>Jabatan</label>
    				<input type="text" class="form-control" placeholder="Jabatan" name="keterangan_3[]" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Jabatan" name="keterangan_3[]" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Jabatan" name="keterangan_3[]" style="margin-bottom: 10px;">
    			</div>
               </div>
             </div> <!-- /#login -->   

             <div class="stepReg">
            <h3>Keunggulan dan Keberhasilan</h3>
    
          
              <div class="row" style="padding: 0 25px;"> 
                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="register-keunggulan">Keunggulan atau keberhasilan</label>
                    <textarea type="text" class="form-control" id="register-keunggulan" placeholder="Keunggulan atau keberhasilan yang pernah dicapai (ruang tulisan dapat diperluas)" name="keberhasilan"></textarea>
                </div>
               </div>
             </div> <!-- /#login -->                        
                                                    
               <div class="row"> 
    			<div class="form-group">
    				<div class="col-md-6">
                        {*}
                        <button type="submit" id="register-btn" class="btn btn-primary btn-block">Kembali &nbsp; <i class="fa fa-play-circle"></i></button>{/*}
                    </div>
                    <div class="col-md-6">
                        <input type="hidden" name="register_step" value="3">
                        <button type="submit" id="register-btn" class="btn btn-primary btn-block">Lanjut &nbsp; <i class="fa fa-play-circle"></i></button>
                    </div>
                    <div class="clearfix"></div>
    			</div>
               </div>
    		</form>
       
    
    </div>
    
</div>