<div class="container api-content">

    <div id="api-registerContainer">
        
        <div class="text-left">
        <!-- STEP WIZARD -->
        <div class="wizard">
            <a><span class="badge">1</span> Akun API</a>
            <a class="current"><span class="badge">2</span> Identitas Lengkap</a>
            <a><span class="badge">3</span> Riwayat</a>
            <a><span class="badge">4</span> Persetujuan</a>
        </div>
        </div>
        
        
		<h3 class="text-center">Identitas Lengkap</h3>

		<form id="register-form" action="" class="form" method="post">
            
            <div class="form-group">
				<label for="register-namaLengkap">Nama Lengkap</label>
				<input type="text" class="form-control" id="register-namaLengkap" placeholder="Nama Lengkap" name="name" required>
			</div>
            
            <div class="form-group">
				<label for="register-nip">NIP/NIDN</label>
				<input type="text" class="form-control" id="register-nip" placeholder="NIP/NIDN" name="nip" onkeypress="validateNumber(this)">
			</div>
            
            <div class="form-group">
				<label for="register-ttl">Tempat Lahir</label>
				<input type="text" class="form-control" id="register-ttl" placeholder="Tempat Lahir" name="city" required>
			</div>
            
            <div class="form-group">
                <label for="register-ttl">Tanggal Lahir</label>
                <div id="birthday" class="input-group date" data-auto-close="true" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
                    <input type="text" class="form-control" placeholder="Tanggal Lahir" name="birthday" data-required="true" required>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>

            <div class="form-group">
				<label for="register-alamatRumah">Alamat Rumah</label>
				<textarea type="text" class="form-control" id="register-alamatRumah" placeholder="Alamat Rumah" name="StreetName"></textarea>
			</div>
            
            <div class="form-group">
				<label for="register-tlp">No.Telepon</label>
				<input type="text" class="form-control" id="register-tlp" placeholder="No.Telepon" name="phone_number" onkeypress="validateNumber(this)">
			</div>
            
            <div class="form-group">
				<label for="register-alamatKantor">Alamat Kantor</label>
				<textarea type="text" class="form-control" id="register-alamatKantor" placeholder="Alamat Kantor" name="alamatKantor"></textarea>
			</div>
            
            <div class="form-group">
				<label for="register-tlpKantor">No.Telepon Kantor</label>
				<input type="text" class="form-control" id="register-tlpKantor" placeholder="No.Telepon Kantor" name="tlpKantor" onkeypress="validateNumber(this)">
			</div>
            
            <div class="form-group">
				<label for="register-pendTerakhir">Pendidikan Terakhir</label>
				<input type="text" class="form-control" id="register-pendTerakhir" placeholder="Pendidikan Terakhir" name="pendidikan">
			</div>
            {*}
            <div class="form-group">
				<label for="register-kepakaran">Kepakaran</label>

				<input type="text" class="form-control" id="register-kepakaran2" placeholder="Kepakaran" name="kepakaran">
			</div>{/*}
			<div class="form-group">
				<label for="register-kepakaran">Kepakaran</label>
				<textarea class="form-control2" id="register-kepakaran" placeholder="Kepakaran" name="kepakaran"></textarea>

			</div>

			<div class="form-group">
                <input type="hidden" name="register_step" value="2">
                <button type="submit" id="register-btn" class="btn btn-primary btn-block">Lanjut &nbsp; <i class="fa fa-play-circle"></i></button>
                <div class="clearfix"></div>
			</div>
		</form>
    
    </div>
    
</div>

