<div class="col-md-8">
    <h3>Buah Pikir</h3>
    
{if $buahpikir}
        {foreach $buahpikir as $val}

<!--START BUAH PIKIR-->  
    <div class="row api-buah_pikir">
        <div class="col-md-12">
            <div class="title">
                <a href="{$basedomain}direktori/bpDetail/?id={$val.id}"><h4>{$val.title}</h4></a>
            </div>
            <div class="dateposted">
                <p>Posted by <a href="#">admin</a> at {$val.posted_date}</p>
            </div>
            <div class="content">
                <div class="col-md-3" style="padding-left: 0;">
                            <img src="{$basedomain}public_assets/buahpikir/{$val.image}" class="img-responsive" />
                        </div>
                <p class="text-justify">
                    {$val.brief|html_entity_decode}
                </p>
            </div>
        </div>
    </div>
    <a href="{$basedomain}direktori/bpDetail/?id={$val.id}" class="pull-right more btn-xs btn api-btn">Read more...</a>
    <div class="clearfix"></div>
<!--END BUAH PIKIR--> 
        <hr class="api-separator"/>
            
        {/foreach}
    {/if}
    {*}
<!--START BUAH PIKIR-->    
    <div class="api-buah_pikir">
        <div class="title">
            <a href="{$basedomain}news/berita_detail"><h4>Contoh Buah Pikir</h4></a>
        </div>
        <div class="dateposted">
            <p>Posted by <a href="#">admin</a> at 11:20 am August 30, 2014</p>
        </div>
        <div class="content">
            <p class="text-justify">
                Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis.
            </p>
        </div>
    </div>
    <a href="{$basedomain}news/berita_detail" class="pull-right more btn api-btn">Read more...</a>
    <div class="clearfix"></div>
<!--END BUAH PIKIR--> 
        <hr class="api-separator"/>
        
<!--START BUAH PIKIR-->    
    <div class="api-buah_pikir">
        <div class="title">
            <a href="{$basedomain}news/berita_detail"><h4>Contoh Buah Pikir</h4></a>
        </div>
        <div class="dateposted">
            <p>Posted by <a href="#">admin</a> at 11:20 am August 30, 2014</p>
        </div>
        <div class="content">
            <p class="text-justify">
                Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis.
            </p>
        </div>
    </div>
    <a href="{$basedomain}news/berita_detail" class="pull-right more btn api-btn">Read more...</a>
    <div class="clearfix"></div>
<!--END BUAH PIKIR--> 
        <hr class="api-separator"/>
        
<!--START BUAH PIKIR-->    
    <div class="api-buah_pikir">
        <div class="title">
            <a href="{$basedomain}news/berita_detail"><h4>Contoh Buah Pikir</h4></a>
        </div>
        <div class="dateposted">
            <p>Posted by <a href="#">admin</a> at 11:20 am August 30, 2014</p>
        </div>
        <div class="content">
            <p class="text-justify">
                Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis.
            </p>
        </div>
    </div>
    <a href="{$basedomain}news/berita_detail" class="pull-right more btn api-btn">Read more...</a>
    <div class="clearfix"></div>
<!--END BUAH PIKIR--> 
{/*}
{*}
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
{/*}
</div>
</div>

</div>

</div>