        
    <p>Results {$rangeStart} - {$rangeEnd} of {$jumlahData}</p>
    
        {if $datamember}
        {foreach $datamember as $val}
        <div class="api-result">
                <div class="row nomargin">
                    <div class="col-md-3 nopadding-l">
                        <img src="{$basedomain}public_assets/anggota/1.jpg" class="img-responsive" />
                    </div>
                    <div class="col-md-9">
                        <a href="{$basedomain}direktori/result_detail" class="title">{$val.name}</a>
                        <p class="nomargin">{$val.nmps_lama}(<i>{$val.internasional_term}</i>),&nbsp;&nbsp;{$val.rumpun_txt}</p>
                        <p class="nomargin">{$val.description}</p>
                    </div>
                </div>
                <a href="#" class="pull-right detail btn api-btn">Detail</a>
                <div class="clearfix"></div>
            </div>
        {/foreach}
          {else}
             <div class="col-md-12" align="center">
                <h4>~ Data Tidak Ditemukan ~ </h4>
                </div>
             {/if}
         <div class="col-md-12 text-center">  
                {if $paging}
                    {$paging}
                {/if}
            </div> 