<div class="container api-content">
    
    <div class="row kepakaran">
        <div class="col-md-3">
            <h4 class="title">RUMPUN ILMU</h4>
            <div id="menu_kepakaran">
            <div class="list-group panel">
                <a href="javascript:void(0)" class="list-group-item" data-toggle="collapse" data-parent="#menu_kepakaran" onclick="return getId('1')"><i class="glyphicon glyphicon-chevron-right"></i>ILMU AGAMA</a> 
                <a href="javascript:void(0)" class="list-group-item" data-toggle="collapse" data-parent="#menu_kepakaran" onclick="return getId('2')"><i class="glyphicon glyphicon-chevron-right"></i>ILMU HUMANIORA</a> 
                <a href="javascript:void(0)" class="list-group-item" data-toggle="collapse" data-parent="#menu_kepakaran" onclick="return getId('3')"><i class="glyphicon glyphicon-chevron-right"></i>ILMU SOSIAL</a> 
                <a href="javascript:void(0)" class="list-group-item" data-toggle="collapse" data-parent="#menu_kepakaran" onclick="return getId('4')"><i class="glyphicon glyphicon-chevron-right"></i>ILMU ALAM</a> 
                <a href="javascript:void(0)" class="list-group-item" data-toggle="collapse" data-parent="#menu_kepakaran" onclick="return getId('5')"><i class="glyphicon glyphicon-chevron-right"></i>ILMU FORMAT</a> 
                <a href="javascript:void(0)" class="list-group-item" data-toggle="collapse" data-parent="#menu_kepakaran" onclick="return getId('6')"><i class="glyphicon glyphicon-chevron-right"></i>ILMU TERAPAN</a>
            </div>
            </div>
        </div>
        
        
        <div class="col-md-9">
            <div class="api-search text-center">
                <h3>Pencarian Kepakaran Berdasarkan :</h3>
                <form class="form-inline" role="form" method="POST" action="{$basedomain}direktori/search_result">
                    <div id="titleRumpun">

                    </div>
                    <div class="form-group">
                       <input type="hidden" name="rumpun" id="rumpun" />
                      <input id="kepakaran" name="bayu" type="hidden" style="width:300px" />
                        <button type="submit" id="s" class="btn api-btn"><span class="glyphicon glyphicon-search"></span></button>
                    </div>

                </form>
            </div>
            <div id="dataAjax">
            
          </div>

        </div>
        
    </div>
    
    
</div>