<div class="container api-content">
    
    <div class="row kepakaran">
        <div class="col-md-3">
            <h4 class="title">Browse by</h4>
            <div id="menu_kepakaran">
            <div class="list-group panel">
                <a href="#subject" class="list-group-item" data-toggle="collapse" data-parent="#menu_kepakaran"><i class="glyphicon glyphicon-chevron-right"></i> Subjek</a>
                    <div class="collapse" id="subject">
                      <a href="" class="subitem">Subitem 1</a>
                      <a href="" class="subitem">Subitem 2</a>
                      <a href="" class="subitem">Subitem 3</a>
                    </div>
                <a href="#penulis" class="list-group-item" data-toggle="collapse" data-parent="#menu_kepakaran"><i class="glyphicon glyphicon-chevron-right"></i> Penulis</a>
                    <div class="collapse list-group-submenu" id="penulis">
                      <a href="#SubMenu1" class="subitem" data-toggle="collapse" data-parent="#penulis"><i class="glyphicon glyphicon-play"></i> Subitem 1 <i class="fa fa-caret-down"></i></a>
                        <div class="collapse list-group-submenu" id="SubMenu1">
                            <a href="#" class="sub subitem" data-parent="#SubMenu1">Subitem 1 a</a>
                        </div>
                      <a href="#SubMenu2" class="subitem" data-toggle="collapse" data-parent="#penulis"><i class="glyphicon glyphicon-play"></i> Subitem 2 <i class="fa fa-caret-down"></i></a>
                        <div class="collapse list-group-submenu" id="SubMenu2">
                            <a href="#" class="sub subitem" data-parent="#SubMenu2">Subitem 2 a</a>
                        </div>
                      <a href="#SubMenu3" class="subitem" data-toggle="collapse" data-parent="#penulis"><i class="glyphicon glyphicon-play"></i> Subitem 3 <i class="fa fa-caret-down"></i></a>
                        <div class="collapse list-group-submenu" id="SubMenu3">
                            <a href="#" class="sub subitem" data-parent="#SubMenu3">Subitem 3 a</a>
                        </div>
                    </div>
                    
                  
                
                <a href="#konten" class="list-group-item" data-toggle="collapse" data-parent="#menu_kepakaran"><i class="glyphicon glyphicon-chevron-right"></i> Konten</a>
                    <div class="collapse" id="konten">
                      <a href="" class="subitem">Subitem 1</a>
                      <a href="" class="subitem">Subitem 2</a>
                      <a href="" class="subitem">Subitem 3</a>
                    </div>
            </div>
            </div>
        </div>
        
        
        <div class="col-md-9">
            <h3>Kepakaran</h3>
        </div>
    </div>
    
    
</div>