<div class="container api-content">
    
    <div class="pull-right"><a href="{$basedomain}direktori/repository" class="btn api-btn"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></div>
    
    <h3>Repository</h3>
    <table class="table table-striped table-bordered flora-table table-curved" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>No.</th>
                <th>Jenis File</th>
                <th>Name File</th>
            </tr>
        </thead>
 
        <tbody>
            <tr>
                <td class="text-center">1</td>
                <td>PDF</td>
                <td><a href="{$basedomain}public_assets/repo/1.pdf">Holistic Management: Misinformation on the Science of Grazed Ecosystems.pdf</a></td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td>Image</td>
                <td><a href="{$basedomain}public_assets/repo/1.JPG">Lorem.jpg</a></td>
            </tr>
        </tbody>
    </table>

</div>