<div class="container api-content">
    <h3>Repository</h3>
    
    <table class="table  table-striped table-bordered api-table table-curved" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>No.</th>
                <th style="width: 18%;">Tanggal</th>
                <th>Jenis Kegiatan</th>
                <th>Nama Kegiatan</th>
                <th>Tempat Kegiatan</th>
            </tr>
        </thead>
 
        <tbody>
            {if $repository}
                {$no=1}
              {foreach $repository as $val}
              <tr>
                <td class="text-center">{$no++}</td>
                <td>{dateRangeConvert($val.posted_date,$val.expired_date)}</td>
                <td>{$val.title}</td>
                <td><a href="{$basedomain}direktori/repository_view/?id={$val.id}">{$val.content}</a></td>
                <td>{$val.brief}</td>
            </tr>
           {*} <tr>
                <td class="text-center">1</td>
                <td>1-2 Juni 2013</td>
                <td>Kongres</td>
                <td><a href="{$basedomain}direktori/repository_view_1">Asia sebagai Pusat Peradaban dan Pembangunan Dunia: Dimana Posisi Indonesia?</a></td>
                <td>Hotel Borobudur, Jakarta</td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td>18-20 November 2013</td>
                <td>Forum</td>
                <td><a href="{$basedomain}direktori/repository_view_2">Forum IPIMA 2013</a></td>
                <td>Bogor, Indonesia</td>
            </tr>{/*}
              {/foreach}
            {/if}
        </tbody>
    </table>

</div>