<div class="container api-content">
    
    <div class="pull-right"><a href="{$basedomain}direktori/repository" class="btn api-btn"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></div>
    
    <h3>Kongres :: Asia sebagai Pusat Peradaban dan Pembangunan Dunia: Dimana Posisi Indonesia?</h3>
    <table class="table table-striped table-bordered flora-table table-curved" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="width: 5%;">No.</th>
                <th>Jenis File</th>
                <th>Name File</th>
            </tr>
        </thead>
 
        <tbody>
            <tr>
                <td class="text-center">1</td>
                <td>Dokumen</td>
                <td><a href="{$basedomain}public_assets/repo/repository_view_1/API 2013 satuharapan 3 Juni 13.docx">API 2013 satuharapan 3 Juni 13.docx</a></td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td>PDF</td>
                <td><a href="{$basedomain}public_assets/repo/repository_view_1/backdrop.pdf">backdrop.pdf</a></td>
            </tr>
            <tr>
                <td class="text-center">3</td>
                <td>Gambar</td>
                <td><a href="{$basedomain}public_assets/repo/repository_view_1/blakang baru.jpg">blakang baru.jpg</a></td>
            </tr>
            <tr>
                <td class="text-center">4</td>
                <td>PDF</td>
                <td><a href="{$basedomain}public_assets/repo/repository_view_1/x banner.pdf">x banner.pdf</a></td>
            </tr>
        </tbody>
    </table>

</div>