<div class="col-md-6 text-justify">
    <h3 class="text-center">BORANG ANGGOTA<br>ASOSIASI PROFESOR INDONESIA (API)</h3>
    <p class="text-right">Jakarta, 1 Oktober 2014</p>
    <p>Hal: Kesediaan Menjadi Anggota API</p>
    <p>Kepada yth.<br>Sejawat Profesor Perguruan Tinggi<br>Di Indonesia</p>
    <p>Melalui laman API ini, kami lampirkan borang yang perlu diisi untuk menjadi anggota API. Undangan ini kami sampaikan kepada semua Sejawat, para profesor di Universitas/Institut/Perguruan Tinggi di seluruh Indonesia, baik swasta maupun negri, yang aktif maupun yang sudah tidak aktif.</p>
    <p>Dengan adanya isian ini di dalam laman API, para mahasiswa, calon mahasiswa, guru-guru, orangtua, lembaga terkait, pengguna dan semua pihak yang memerlukan kepakaran kita, yang memerlukan tulisan dan berbagai hal yang mencerahkannya, dari tanah air maupun dari manca Negara, dapat terbantu.</p>
    <p>Semoga dengan kehadiran aktif para Sejawat sebagai anggota API, kita dapat mencapai tujuan API untuk “1. Membantu mewujudkan Perguruan Tinggi yang berkualitas; 2. Mendorong Tridarma Perguruan Tinggi; 3. Memperjuangkan harkat dan martabat Guru Besar termasuk    kesejahteraannya; 4. Menjembatani kerjasama antara Perguruan Tinggi dan Pemerintah untuk menyelesaikan masalah bangsa; dan 5. Mengoptimalkan peran Perguruan Tinggi untuk membantu program pembangunan pemerintah dan meningkatkan kesejahteraan masyarakat.”</p>
    <p>Sambil menunggu dukungan dan kerja sama Sejawat, kami sampaikan terima kasih.</p>  
    <p>Dengan salam dan hormat,<br><br></p>
    <p>Pengurus Pusat API.</p>  
</div>