
{include file="template/meta.html"}
<body>
	<div id="wrapper">
	<!-- HEADER -->
		
		{if ($admin)}

		{include file= "template/header.html"} 
		{include file= "template/jsplugin.html"} 
		{include file= "template/top-bar.html"} 
		{include file= "template/sidebar.html"} 
		
		<div id="content">
			{$content}
		</div>

		
		{else}
			{$content}

		{/if}
		
	
	</div>

</body> 
</html>

<script type="text/javascript">
    /*$(document).ready(function() {
        $('.table').dataTable( {
            "language": {
                "url": "{$basedomain}addons/datatable/Indonesian.lang"
            }
        } );
    } );*/
</script>