<div class="container-fluid nopadding">
	<div style="background-color: #111; padding: 15px 0;">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-xs-4">
						<a href="#" style="text-decoration: none;">
							<div class="api-midMenu">
								Visi &amp; Misi
							</div>
						</a>
					</div>
					<div class="col-xs-4">
						<a href="#" style="text-decoration: none;">
							<div class="api-midMenu">
								Anggota API
							</div>
						</a>
					</div>
					<div class="col-xs-4">
						<a href="#" style="text-decoration: none;">
							<div class="api-midMenu">
								Kontak Kami
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>